<template>
  <form-container
    title="Información Gasto"
    :saving="saving"
    :withgrid="true"
   :showloading="loading"
    @returnto="$MyUtils.returnTo('inventarios')"
    @submitform="submitForm('gasto')"
  >
    <template v-slot:formcontent>
      <q-card-section class="q-gutter-md">
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <ubicacion
              :ubicacion="form.ubicacion"
              @ubicacionchanged="form.ubicacion = $event"
            ></ubicacion>
          </div>
        </div>
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <tipo-gasto
              :tipo_gasto="form.tipo_gasto"
              @tipo_gastochanged="form.tipo_gasto = $event"
            ></tipo-gasto>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              label="Descripción"
              v-model="form.descripcion"
              ref="descripcion"
            >
              <template v-slot:append>
                <q-icon name="fa fa-info-circle" />
              </template>
            </q-input>
          </div>
        </div>

        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <moneda
              :moneda="form.moneda"
              @monedachanged="form.moneda = $event"
            ></moneda>
          </div>
          <!--TODO:AGREGAR V-MONEY-->
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              label="Monto"
              v-model.number="form.monto"
              class="text-h5 text-weight-bolder"
              step="any"
            >
              <template v-slot:append>
                <q-icon name="fa fa-dollar-sign" />
              </template>
            </q-input>
          </div>
        </div>
        <div v-if="showTasa" class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <tasa-cambio
              :tasa_cambio="form.tasa_cambio"
              @tasa_cambiochanged="form.tasa_cambio = $event"
            ></tasa-cambio>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              :label="labelConverted"
              class="text-h5 text-weight-bolder"
              v-model.number="montoTasaCambio"
              type="number"
              step="any"
            >
              <template v-slot:append>
                <q-icon name="fa fa-dollar-sign" />
              </template>
            </q-input>
          </div>
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>
    </template>

    <!-- </div> -->
  </form-container>
</template>

<script>
import gastos_mant_mixin from "../../mixins/gasto/gastomantmixin";

import form_container from "../FormContainer";
import select_inputs from "../../components/selectinputs";

export default {
  mixins: [gastos_mant_mixin],
  components: {
    "form-container": form_container,
    "tipo-gasto": select_inputs.tipo_gasto_input,
    "tasa-cambio": select_inputs.tasa_cambio_input,
    ubicacion: select_inputs.ubicacion_input,
    moneda: select_inputs.moneda_input,
  },
  data() {
    return {
      slide: 1,
    };
  },
};
</script>

 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 100%;
     max-width: 350px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   .marginset {
     margin-top: -10px;
   }

   @media (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>


