<template>
  <form-container
    title="Información inventario"
    :saving="saving"
    :withgrid="true"
    :showloading="loading"
    @returnto="$MyUtils.returnTo('inventarios')"  
    @submitform="submitForm('inventario', ['vin', 'statusInput', 'vehiculoInput'])"
  >
    <template v-slot:formcontent>
      <q-card-section class="q-gutter-md">

          <div class="row q-col-gutter-xs" v-if="$Auth.getSucursales().length >1">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
         <sucursal-user :sucursales="$Auth.getSucursales()" :sucursal="form.sucursal" @sucursalchanged="form.sucursal=$event">

         </sucursal-user>
          </div>
         
        </div>
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              label="Descripción"
              v-model="form.descripcion"
              ref="descripcion"
            >
              <template v-slot:append>
                <q-icon name="fa fa-info-circle" />
              </template>
            </q-input>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              label="Código Subasta"
              v-model="form.codigosubasta"
              ref="subasta"
            >
              <template v-slot:append>
                <q-icon name="fa fa-car-side" />
              </template>
            </q-input>
          </div>
        </div>
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              label="VIN"
              v-model="form.vin"
              lazy-rules
              ref="vin"
              :rules="[
                (val) => (val !== null && val !== '') || 'Digite un valor',
              ]"
            >
              <template v-slot:append>
                <q-icon name="fa fa-barcode" />
              </template>
            </q-input>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              label="Año"
              v-model="form.year"
              mask="####"
              hint="EJ. 1900"
            >
              <template v-slot:append>
                <q-icon name="fa fa-calendar-day" />
              </template>
            </q-input>
          </div>
        </div>
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <status-inv
            ref="statusInput"
              :statusinv="form.status_inventario"
              @statusinvchanged="form.status_inventario = $event"
            
            ></status-inv>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <color
              :color="form.color"
              @colorchanged="form.color = $event"
            ></color>
          </div>
        </div>

        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <vehiculo
              :vehiculo="form.vehiculo"
              ref="vehiculoInput"
              lazy-rules
              :rules="[
                (val) => (val !== null && val !== '') || 'Seleccione un valor',
              ]"
              @vehiculochanged="form.vehiculo = $event"
            ></vehiculo>
          </div>
             <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              label="Precio de Venta"
              ref="precio_venta"
              v-model.number="form.precio_venta"
              type="number"
              class="text-h5 text-weight-bolder"
              step="any"
            >
              <template v-slot:append>
                <q-icon name="fa fa-dollar-sign" />
              </template>
            </q-input>
          </div>
          <!--       <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-carousel animated v-model="slide" thumbnails infinite>
              <q-carousel-slide
                :name="1"
                class="rounded-borders"
                img-src="https://www.techweirdo.com/wp-content/uploads/2018/04/2019-honda-civic-ex-specs-and-review.jpg"
              />
              <q-carousel-slide
                :name="2"
                img-src="https://cdn.quasar.dev/img/parallax1.jpg"
              />
              <q-carousel-slide
                :name="3"
                img-src="https://cdn.quasar.dev/img/parallax2.jpg"
              />
              <q-carousel-slide
                :name="4"
                img-src="https://cdn.quasar.dev/img/quasar.jpg"
              />
            </q-carousel>
            <q-uploader
              url="http://localhost:4444/upload"
              style="width: 376px"
              class="q-mt-md col col-md-12 col-12 col-lg-6 col-xl-6"
            />
          </div> -->
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>
    </template>

    <template v-slot:childgrid>
      <q-expansion-item
        v-model="expanded"
        label="Gastos"
        caption="Listado de gastos asociados al Vehiclo en Inventario"
        header-class=" text-h5 text-weight-bold text-blue-6"
        style="border-radius: 5px"
        expand-icon-class="text-blue-6"
        icon="explore"
      >
        <template v-slot:header>
          <q-item-section avatar>
            <q-avatar
              icon="monetization_on"
              color="primary"
              text-color="white"
            />
          </q-item-section>
          <q-item-section>Gastos</q-item-section>
        </template>

        <gastos-grid
          ref="inventariogrid"
          :data="form.gastos"
          title="Gastos"
          gridtitle="Consulta de gastos"
          :columns="columns"
          float_label="Buscar gastos"
          route_edit="mantgastos"
          :configs="configs"
          :show_child_card="showcard"
          :search_filter="searchgastos"
          @filterchanged="searchgastos = $event"
          @loadData="loadGastos"
          @insertdata="insertData"
          @editdata="editData($event)"
          @deletedata="deleteData($event)"
          :show_insert="showinsert"
          cardwith
          :show_card_title="false"
          :params="params"
          insert_label="Agregar Gasto"
        ></gastos-grid>

        <div class="q-pa-lg row justify-end">
          <q-card flat bordered class="my-card col-6 col-md-6 col-lg-6 col-xs-12">
            <q-card-section>
              <div class="row">
                <div class="text-subtitle1 col-6 text-weight-bold">
                  Total en Dolares (US):
                </div>
                <div class="text-subtitle1 col text-weight-bolder text-right">
                  {{ formatCurrency(montoTotal) }}
                </div>
              </div>
            </q-card-section>
            <q-separator inset />
            <q-card-section>
              <div class="row">
                <div class="text-subtitle1 col-6 text-weight-bolder">
                  Total en Pesos (DOP):
                </div>
                <div class="text-subtitle1 col text-weight-bolder text-right">
                  {{ formatCurrency(montoTotalPredeterminado) }}
                </div>
              </div>
            </q-card-section>
            <q-separator inset />
            <q-card-section>
              <div class="row">
                <div class="text-subtitle1 col-6 text-weight-bolder">
                  Monto Total (DOP):
                </div>
                <div class="text-subtitle1 col text-weight-bolder text-right">
                  {{ formatCurrency(montoTotalGeneral) }}
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </q-expansion-item>
    </template>
    <!-- </div> -->
  </form-container>
</template>

<script>
import inventario_mant_mixin from "../../mixins/inventarios/inventariosmantmixin";
import gastos_grid from "../gridSearch";
import form_container from "../FormContainer";
import select_inputs from "../../components/selectinputs";
import color from "../../components/selectinputs/colorInput"
export default {
  mixins: [inventario_mant_mixin],
  components: {
    "gastos-grid": gastos_grid,
    "form-container": form_container,
    "status-inv": select_inputs.status_inv_input,
    "sucursal-user":select_inputs.sucursal_user_input,
    vehiculo: select_inputs.vehiculo_input,
    color: color,
  },
  data() {
    return {
      slide: 1,
    };
  },
};
</script>

 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 100%;
     max-width: 350px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   .marginset {
     margin-top: -10px;
   }

   @media (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>


