<template>
  <form-container
    title="Acceso al Sistema"
    :saving="saving"
    :withgrid="true"
    @returnto="$MyUtils.returnTo('inventarios')"
    @submitform="submitFormSecurity('usuario')"
    :showCancel="false" 
    cssClass="q-ma-sm col-xs-12 col-md-8 col-lg-4"
    acceptIcon="fa fa-sign-in-alt"
    acceptLabel="Iniciar Sesión"
  >
    <template v-slot:formcontent>
      <q-card-section class="q-gutter-md">
        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input label="Usuario" hint="Digite su nombre de usuario" v-model="form.nombreusuario" ref="usuario">
            <template v-slot:append>
              <q-icon name="fa fa-user" />
            </template>
          </q-input>
        </div>

        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            v-model="form.clave"
           
            label="Clave"
            :type="isPwd ? 'password' : 'text'"
            hint="Digite su clave de acceso"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>
    </template>

    <!-- </div> -->
  </form-container>
</template>

<script>
import security from "../../mixins/security/security";

import form_container from "../FormContainer";
import { LocalStorage, SessionStorage } from 'quasar' 
export default {
  mixins: [security],
  components: {
    "form-container": form_container,
  },
  data() {
    return {
       isPwd: true,
    };
  },
};
</script>

 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 100%;
     max-width: 350px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   .marginset {
     margin-top: -10px;
   }

   @media (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>


