<template>
  <div class="print-only print">
    <div class="row">
      <div class="col col-6 text-h4">Factura</div>
      <div class="col col-6 text-right text-h6">1310-887881-4319</div>
    </div>

    <div class="row">
      <div class="col col-6">
        Billed To:<br />
        John Smith<br />
        1234 Main<br />
        Apt. 4B<br />
        Springfield, ST 54321
      </div>
      <div class="col col-6 text-right">
        Shipped To: Jane Smith 1234 Main Apt. 4B Springfield, ST 54321
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <address>
          <strong>Forma de Pago:</strong><br />
          Visa ending **** 4242<br />
          jsmith@email.com
        </address>
      </div>
      <div class="col-xs-6 text-right">
        <address>
          <strong>Order Date:</strong><br />
          March 7, 2014<br /><br />
        </address>
      </div>
    </div>
    <div class="q-pa-md row items-start justify-center q-gutter-md">
      <q-card
        flat
        bordered
        class="my-card text-white"
        style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
      >
        <q-card-section>
          <div class="text-h6">Our Changing Planet</div>
          <div class="text-subtitle2">by John Doe</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          {{ lorem }}
        </q-card-section>
      </q-card>
      <q-card
        flat
        bordered
        class="my-card text-white"
        style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
      >
        <q-card-section>
          <div class="text-h6">Our Changing Planet</div>
          <div class="text-subtitle2">by John Doe</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          {{ lorem }}
        </q-card-section>
      </q-card>

      <q-card
        flat
        bordered
        class="my-card text-white"
        style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
      >
        <q-card-section>
          <div class="text-h6">Our Changing Planet</div>
          <div class="text-subtitle2">by John Doe</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          {{ lorem }}
        </q-card-section>
      </q-card>
      <q-card
        flat
        bordered
        class="my-card text-white"
        style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
      >
        <q-card-section>
          <div class="text-h6">Our Changing Planet</div>
          <div class="text-subtitle2">by John Doe</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          {{ lorem }}
        </q-card-section>
      </q-card>

      <q-card
        flat
        bordered
        class="my-card text-white"
        style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
      >
        <q-card-section>
          <div class="text-h6">Our Changing Planet</div>
          <div class="text-subtitle2">by John Doe</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          {{ lorem }}
        </q-card-section>
      </q-card>
      <q-card
        flat
        bordered
        class="my-card text-white"
        style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
      >
        <q-card-section>
          <div class="text-h6">Our Changing Planet</div>
          <div class="text-subtitle2">by John Doe</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          {{ lorem }}
        </q-card-section>
      </q-card>
    </div>

    <div class="row justify-center">
      <div class="col col-12 text-justify">
        VEINTE MIL QUINIETOS DOLARES AMERICANOS (US$20,500.00). ESTE POSEE ESTA
        SIENDO ADQUIRIDO POR PARTE DEL COMPRADOR POR LA SUMA DE EL TITULO
        “REBUILT”, TUVO UN CHOQUE EN LA PARTE TRASERA IZQUIERDAD. EL MISMO TIENE
        1 AÑO GARANTIA EN MOTOR Y TRANSMISION. (NO INCLUYE PARTES ELECTRICAS, NI
        CHASIS) MEDIANTE LA COMPAÑÍA “GARANTIA MECANICA CHATEL”. EL VEHICULO
        ESTA SIENDO ENTREGADO EN ORDEN Y AL FIRMAR EL CLIENTE RECONOCE QUE ESTA
        EN PERFECTO FUNCIONAMIENTO.
      </div>
    </div>

    <div class="row q-gutter-md justify-center q-mt-xl">
      <div class="col col-4 text-center divborder">VENDEDOR</div>

      <div class="col col-4 text-center divborder">COMPRADOR</div>
    </div>
<div class="row q-gutter-md justify-center q-mt-xl">
  </div>
    <div class="row justify-center q-mt-xl">
      <div class="col col-6 text-center text-weight-bold text-grey">
        CALLE SEIBO #201, VILLA JUANA, STO DGO, REP.DOM. RNC: 131-938973 E-MAIL:
        UCETATEMONTA@GMAIL.COM TEL.: 829-373-7117 | CEL.: 809-873-7427
      </div>
    </div>
  </div>
</template>

<script>

export default {

};
</script>

<style>

.divborder {
  border-top: 1px solid #969696;
}
</style>