<template>
  <div>
    <q-item v-if="!expandable" clickable tag="a" class="text-weight-bold"  replace  :to="{name:link}">
      <q-item-section v-if="icon" avatar>
        <q-icon :name="icon" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ title }}</q-item-label>
        <q-item-label caption>{{ caption }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-expansion-item v-if="expandable"  indent :icon="icon" :label="title" class="text-weight-bold" :caption="caption" opened>
      <q-item clickable tag="a" v-for="item in childs" replace :key="item.title" :to="{name:item.link}" >
        <q-item-section v-if="item.icon" avatar>
          <q-icon :name="item.icon" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ item.title }}</q-item-label>
          <q-item-label caption>{{ item.caption }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>

       <slot name="separator">
          </slot>
  </div>
</template>

<script>
export default {
  name: "EssentialLink",
  props: {
    title: {
      type: String,
      required: true,
    },

    caption: {
      type: String,
      default: "",
    },

    link: {
      type: String,
      default: "#",
    },

    icon: {
      type: String,
      default: "",
    },
    expandable: {
      type: Boolean,
      default: false,
    },
    childs:{
      type:Array,
      default: function(){
        return []}
    }
  },
};
</script>
