<template>
  <q-card  bordered :class="cssClass">
    <q-card-section class="text-blue-6">
      <div class="text-h6">{{ title }}</div>
    </q-card-section>
    <q-separator />
    <!-- <form-wrapper :validator="$v.form"> -->
    <form @submit.prevent.stop="$emit('submitform')" ref="form">
      <slot name="formcontent"> </slot>

      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>
      <q-card-actions class="justify-end" style="margin-right: 10px">
        <q-btn
          color="red"
          unelevated
          @click="$emit('returnto')"
          outline
          rounded
          class="raised outline"
          :label="defaultCancelLabel"
          v-if="showCancel"
          icon="fa fa-arrow-circle-left"
        />
        <q-btn
          :loading="saving"
          unelevated
          class="raised outline"
          color="blue"
          type="submit"
          outline
          rounded
          :label="defaultAcceptLabel"
          :icon="acceptIcon"
        ></q-btn>
      </q-card-actions>
    </form>
    <!-- </form-wrapper> -->
    <q-card-section v-if="withgrid">
      <!-- <q-separator color="blue" /> -->
    </q-card-section>
    <slot name="childgrid"> </slot>
        <q-inner-loading :showing="showloading">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </q-card>
  
</template>

<script>
export default {
  name: "EssentialLink",
  computed: {
    defaultAcceptLabel() {
      return this.acceptLabel === ""
        ? this.$i18n.t("accept_btn")
        : this.acceptLabel;
    },
    defaultCancelLabel() {
      return this.cancelLabel === ""
        ? this.$i18n.t("cancel_btn")
        : this.cancelLabel;
    },
  },
  props: {
    showloading: {
      type: Boolean,
      required: false,
      default: false,
    },
    title: {
      type: String,
      required: false,
      default: "Formulario",
    },
    acceptLabel: {
      type: String,
      required: false,
      default: "",
    },
    cancelLabel: {
      type: String,
      required: false,
      default: "",
    },
    showCancel: {
      type: Boolean,
      required: false,
      default: true,
    },
    acceptIcon: {
      type: String,
      required: false,
      default: "save",
    },
    cssClass: {
      type: String,
      required: false,
      default: "q-ma-sm col-xs-12 col-md-10 col-lg-8 col-xl-8 print-hide",
    },
    returnTo: {
      type: String,
      required: false,
      default: "/",
    },
    saving: {
      type: Boolean,
      required: false,
      default: false,
    },
    form: {
      type: Object,
      required: false,
    },
    withgrid: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
};
</script>

<style>
</style>