<template>
  <q-input
    v-bind="$attrs"
    :label="label"
    :error="hasErrors"
    :error-message="firstErrorMessage"
    @input="handleChange"
    :value="value"
    :name="name"
    @blur="handleBlur"  >
    <template v-slot:append>
      <slot></slot>
    </template>
  </q-input>
</template>
<script>
import { singleErrorExtractorMixin } from "vuelidate-error-extractor";
export default {
  name: "FormGroup",
  extends: singleErrorExtractorMixin,
  inheritAttrs: false,
  props: ["value", "name"],
  methods: {
    handleChange(newValue) {
      this.$emit("input", newValue);
    },
    handleBlur() {
      this.$emit("blur");
    },
  },
};
</script>
