<template>
  <q-banner class="text-white bg-red"
    v-if="hasErrors"
   
  >
     <template v-slot:avatar>
        <q-icon name="warning"  />
      </template>
    <div v-for="(error, index) in activeErrorMessages" :key="index">
      <div>{{ error }}</div>
    </div>
  </q-banner>
</template>
<script>
import { multiErrorExtractorMixin } from "vuelidate-error-extractor";
export default {
  name: "FormSummary",
  extends: multiErrorExtractorMixin,
  computed: {
    hasErrors() {
      return this.activeErrors.length;
    }
  }
};
</script>