<template>
  <q-card class="q-ma-sm col-xs-11 col-md-11 col-lg-9">
    <q-card-section
      v-if="show_card_title"
      class="text-blue-6 text-h5 text-weight-bold"
      >{{ gridtitle }}</q-card-section
    >
    <q-separator size="2px" class="print-hide" inset />
    <q-card-section class="q-gutter-sm">
      <div class="row q-col-gutter-xs">
        <div :class=" showStartDate ? 'col col-md-3 col-12 col-lg-4 col-xl-3 text-h6 print-hide' :'col col-md-8 col-12 col-lg-8 col-xl-8 text-h6 print-hide'">
          <q-input
            v-model="mutable_search_filter"
            debounce="700"
            outlined
            :placeholder="place_holder"
            :float-label="float_label"
            @input="loadData"
            clearable
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>

        <diV
          v-if="showStartDate"
          class="col col-md-3 col-12 col-lg-2 col-xl-3 print-hide"
        >
          <q-input
            outlined
            class="myClass"
            v-model="mutable_startDate"
            placeholder="Fecha Inicio"
            mask="##/##/####"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qStartDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="mutable_startDate"
                    @input="$refs.qStartDateProxy.hide()"
                    mask="DD-MM-YYYY"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </diV>
        <div
          v-if="showEndDate"
          class="col col-md-3 col-12 col-lg-2 col-xl-3 print-hide"
        >
          <q-input
            placeholder="Fecha Fin"
            outlined
            v-model="mutable_endDate"
            mask="##/##/####"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qEndDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="mutable_endDate"
                    @input="$refs.qEndDateProxy.hide()"
                    mask="DD-MM-YYYY"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div
          v-if="showSearchBtn"
          class="column col-md-3 col-12 col-lg-4 col-xl-3 q-mt-xs items-end print-hide"
        >
          <div class="col q-gutter-xs">
            <q-btn
              @click="$emit('searchbtn')"
              color="primary"
              outline
              rounded
              size="lg"
              icon="fa fa-search"
            />

            <q-btn
              @click="$emit('clearsearch')"
              color="warning"
              outline
              rounded
              size="lg"
              icon="fa fa-search-minus"
            />
            <q-btn
              @click="printWindow()"
              color="secondary"
              outline
              rounded
              size="lg"
              icon="fa fa-print"
            />
          </div>
        </div>
      </div>
    </q-card-section>
    <q-card-section>
      <q-separator dark inset />
      <div>
        <q-table
          flat
          bordered
          class="col col-16"
          :data="data"
          :config="configs"
          :columns="columns"
          :overlay="true"
          :loading="loading"
          :grid="$q.screen.xs"
          row-key="id"
        >
          <template v-slot:body-cell-roles="props">
            <q-td :props="props">
              <div v-for="rol in props.row.roles" :key="rol.id">
                <q-badge color="blue" :label="rol.descripcion" />
              </div>
            </q-td>
          </template>
          <template v-slot:body-cell-montoventa="props">
            <q-td
              v-if="
                props.row.moneda.id !=
                props.row.tasa_cambio.moneda_predeterminada.id
              "
              :props="props"
            >
              <q-item-section>
                <q-item-label class="text-weight-bold">{{
                  `${props.row.tasa_cambio.moneda_alterna.nomenclatura.concat(
                    " ",
                    formatCurrency(props.row.monto)
                  )}`
                }}</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold" caption
                  >Tasa:{{
                    formatCurrency(props.row.tasa_cambio.valor)
                  }}</q-item-label
                >
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold">
                  {{
                    `${props.row.tasa_cambio.moneda_predeterminada.nomenclatura.concat(
                      " ",
                      formatCurrency(
                        props.row.monto * props.row.tasa_cambio.valor
                      )
                    )}`
                  }}</q-item-label
                >
              </q-item-section>
            </q-td>

            <q-td v-else>
              <q-item-section></q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold text-right">
                  {{
                    formatCurrency(
                      props.row.monto
                    )
                  }}</q-item-label
                >
              </q-item-section>
            </q-td>
          </template>

          <template v-slot:body-cell-ganancia="props">
            <q-td :props="props">
              <q-item-section>
                <q-item-label :class="gananciaClass(props.row)">
                  {{
                    formatCurrency(calculateGanancia(props.row))
                  }}</q-item-label
                >
              </q-item-section>
            </q-td>
          </template>

          <template v-slot:body-cell-color="props">
            <q-td :props="props">
              <q-chip
                outline
                :text-color="
                  props.row.color.descripcion.toLowerCase() != 'blanco'
                    ? 'white'
                    : 'black'
                "
                :class="props.row.color.class + ' text-weight-bold'"
              >
                {{ props.row.color.descripcion }}
              </q-chip>
            </q-td>
          </template>

          <template v-slot:body-cell-activo="props">
            <q-td :props="props">
              <q-avatar
                size="md"
                :color="props.row.activo === true ? 'blue' : 'red'"
                text-color="white"
                :icon="props.row.activo === true ? 'done' : 'do_disturb_on'"
              />
            </q-td>
          </template>

          <template v-slot:body-cell-sucursales="props">
            <q-td :props="props">
              <q-list
                v-for="sucursal in props.row.sucursales"
                :key="sucursal.id"
              >
                <q-item-section>
                  <q-item-label class="text-weight-bold" caption
                    >{{ sucursal.dealer.nombre }}:</q-item-label
                  >
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ sucursal.descripcion }}</q-item-label>
                </q-item-section>
              </q-list>
            </q-td>
          </template>

          <template v-if="show_insert" v-slot:top>
            <q-btn
              outline
              rounded
              color="primary"
              @click="$emit('insertdata')"
              :label="insert_label"
            />
          </template>
          <q-td
            class="print-hide"
            v-if="show_edit_btn"
            slot="body-cell-actions"
            slot-scope="props"
            :props="props"
          >
            <q-btn
              outline
              rounded
              @click="$emit('editdata', props.row.id)"
              color="teal-6"
              class="q-mr-sm"
              icon="fa fa-edit"
            />
            <q-btn
              color="red-6"
              outline
              rounded
              @click="$emit('deletedata', props.row)"
              icon="delete_forever"
            />
          </q-td>
          <template v-slot:item="props">
            <div
              class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
              :style="props.selected ? 'transform: scale(0.95);' : ''"
            >
              <q-card :class="props.selected ? 'bg-grey-2' : ''">
                <q-list dense separator>
                  <q-item
                    v-for="col in props.cols.filter(
                      (col) => col.name !== 'actions'
                    )"
                    :key="col.name"
                  >
                    <div v-if="col.name === 'activo'">
                      <q-item-section>
                        <q-item-label caption class="text-weight-bold">{{
                          col.label
                        }}</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-avatar
                          size="md"
                          :color="col.value === true ? 'blue' : 'red'"
                          text-color="white"
                          :icon="col.value === true ? 'done' : 'do_disturb_on'"
                        />
                      </q-item-section>
                    </div>

                    <div v-if="col.name === 'color'">
                      <q-chip
                        outline
                        :text-color="
                          props.row.color.descripcion.toLowerCase() != 'blanco'
                            ? 'white'
                            : 'black'
                        "
                        :class="props.row.color.class + ' text-weight-bold'"
                      >
                        {{ props.row.color.descripcion }}
                      </q-chip>
                    </div>

                    <div v-else-if="col.name === 'montoventa'">
                      <q-item-label caption class="text-weight-bold">{{
                        col.label
                      }}</q-item-label>
                      <q-item-section
                        v-if="
                          props.row.moneda.id !=
                          props.row.tasa_cambio.moneda_predeterminada.id
                        "
                      >
                        <q-item-label class="text-weight-bold">{{
                          `${props.row.tasa_cambio.moneda_alterna.nomenclatura.concat(
                            " ",
                            formatCurrency(props.row.monto)
                          )}`
                        }}</q-item-label>

                        <q-item-label class="text-weight-bold" caption
                          >Tasa:{{
                            formatCurrency(props.row.tasa_cambio.valor)
                          }}</q-item-label
                        >

                        <q-item-label class="text-weight-bold">
                          {{
                            `${props.row.tasa_cambio.moneda_predeterminada.nomenclatura.concat(
                              " ",
                              formatCurrency(
                                props.row.monto * props.row.tasa_cambio.valor
                              )
                            )}`
                          }}</q-item-label
                        >
                      </q-item-section>

                      <q-item-section v-else>
                        <q-item-label class="text-weight-bold">
                          {{
                            formatCurrency(
                              props.row.monto * props.row.tasa_cambio.valor
                            )
                          }}</q-item-label
                        >
                      </q-item-section>
                    </div>

                    <div v-else-if="col.name === 'ganancia'">
                      <q-item-label caption class="text-weight-bold">{{
                        col.label
                      }}</q-item-label>
                      <q-item-section>
                        <q-item-label :class="gananciaClass(props.row)">
                          {{
                            formatCurrency(calculateGanancia(props.row))
                          }}</q-item-label
                        >
                      </q-item-section>
                    </div>

                    <div v-else-if="col.name === 'roles'">
                      <q-item-section>
                        <q-item-label caption class="text-weight-bold">{{
                          col.label
                        }}</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <div v-for="rol in col.value" :key="rol.id">
                          <q-badge color="blue" :label="rol.descripcion" />
                        </div>
                      </q-item-section>
                    </div>

                    <div v-else-if="col.name === 'sucursales'">
                      <q-item-section>
                        <q-item-label caption class="text-weight-bold">{{
                          col.label
                        }}</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-list
                          v-for="sucursal in col.value"
                          :key="sucursal.id"
                        >
                          <q-item-section>
                            <q-item-label class="text-weight-bold"
                              >{{ sucursal.dealer.nombre }}:</q-item-label
                            >
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>{{
                              sucursal.descripcion
                            }}</q-item-label>
                          </q-item-section>
                        </q-list>
                      </q-item-section>
                    </div>
                    <!-- Generic template for rows responsive -->
                    <div v-else>
                      <q-item-section>
                        <q-item-label caption class="text-weight-bold">{{
                          col.label
                        }}</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{ col.value }}</q-item-label>
                      </q-item-section>
                    </div>
                  </q-item>

                  <q-item>
                    <div v-if="show_edit_btn" class="q-pa-xs">
                      <q-btn
                        outline
                        rounded
                        @click="$emit('editdata', props.row.id)"
                        color="teal-6"
                        class="q-mr-sm"
                        icon="fa fa-edit"
                      />
                      <q-btn
                        color="red-6"
                        outline
                        rounded
                        @click="$emit('deletedata', props.row)"
                        icon="delete_forever"
                      />
                    </div>
                  </q-item>
                </q-list>
              </q-card>
            </div>
          </template>
        </q-table>
      </div>
    </q-card-section>
    <q-inner-loading :showing="showloading">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </q-card>

  <!--    <q-fab
          color="blue"
          class="q-mt-md q-mr-md q-mb-md fixed-bottom-right"
          icon="people"
          direction="up"
        >
          <q-fab-action color="primary" @click="someMethod" icon="mail"/>

          <q-fab-action color="secondary" @click="someMethod" icon="alarm"/>
    </q-fab>-->
</template>

<script>
// import tooltipButton from './tooltipButton.vue
export default {
  mounted() {
    this.loadData();
  },

  props: {
    showloading: {
      type: Boolean,
      required: false,
      default: false,
    },
    showStartDate: {
      type: Boolean,
      required: false,
      default: false,
    },
    showEndDate: {
      type: Boolean,
      required: false,
      default: false,
    },
    showSearchBtn: {
      type: Boolean,
      required: false,
      default: false,
    },
    place_holder: {
      type: String,
      required: false,
      default: "Digite el parametro de busqueda.",
    },
    insert_label: {
      type: String,
      required: false,
      default: "Insertar",
    },
    show_edit_btn: {
      type: Boolean,
      required: false,
      default: true,
    },
    cardclass: {
      type: String,
      required: false,
      default: "q-ma-sm",
    },
    show_card_title: {
      type: Boolean,
      required: false,
      default: true,
    },
    params: {
      type: Object,
      required: false,
    },
    cardwith: {
      type: String,
      required: false,
      default: "width:100%",
    },
    show_insert: {
      type: Boolean,
      required: false,
      default: false,
    },
    search_filter: {
      type: String,
      required: false,
    },
    startDate: {
      type: String,
      required: false,
    },
    endDate: {
      type: String,
      required: false,
    },
    data: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      required: false,
    },
    gridtitle: {
      type: String,
      required: false,
    },
    columns: {
      type: Array,
      required: true,
    },
    float_label: {
      type: String,
      required: false,
    },
    route_edit: {
      type: String,
      required: true,
    },
    configs: {
      type: Object,
      required: true,
    },
  },
  computed: {
    mutable_search_filter: {
      get: function () {
        return this.search_filter;
      },
      set: function (newValue) {
        this.$emit("filterchanged", newValue);
      },
    },

    mutable_startDate: {
      get: function () {
        return this.startDate;
      },
      set: function (newValue) {
        this.$emit("startDateChanged", newValue);
      },
    },

    mutable_endDate: {
      get: function () {
        return this.endDate;
      },
      set: function (newValue) {
        this.$emit("endDateChanged", newValue);
      },
    },
  },
  data() {
    name: "grid-search";
    return {
      page: 1,
      //  searchfilter: "",
      loading: false,
    };
  },
  watch: {},
  methods: {
    loadData() {
      this.$emit("loadData");
    },
    printWindow: () => {
      window.print();
    },
    formatCurrency(val) {
      return `$ ${parseFloat(val)
        .toFixed(2)
        .replace(/\d(?=(\d{3})+\.)/g, "$&,")
        .toString()}`;
    },
    gananciaClass(val) {
      if (this.calculateGanancia(val) > 0) return "text-weight-bold text-green";
      return "text-weight-bold text-red";
    },
    calculateGanancia(val) {
      return  val.moneda.id !=
                val.tasa_cambio.moneda_predeterminada.id  ?  val.monto * val.tasa_cambio.valor - val.inventario.total_gastos: val.monto  - val.inventario.total_gastos
    },
  },
};
</script>

<style scoped>
.grid-filter {
  max-width: 200px;
}
.grid-search {
  max-width: calc(100% - 400px);
}
.grid-pagination {
  max-width: 200px;
}
.card-size {
  width: 963px;
}
.margin-top-btn {
  margin-top: 2px;
}

input {
  font-size: 2em;
  height: 66.8125px !important;
  width: 150px;
}

.myClass {
  font-size: 1em;
  height: 66.8125px !important;
}

.myClass::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 0.5em;
}

.myClass:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 0.5em;
}

.myClass::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 0.5em;
}

.myClass:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 0.5em;
}
@media print {
  table,
  table tr td,
  table tr th {
    page-break-inside: avoid;
  }
  div .q-table__bottom .row .items-center .justify-end {
    display: none !important;
  }

  @page {
    size: A3;
  }
}
</style>
