<template>
  <q-page class="q-pa-md row flex items-start justify-center">
    <login> </login>
  </q-page>
</template>

<script>
import login from "../../components/security/login";
export default {
  components: {
    login: login,
  },
};
</script>

<style>
</style>