<template>

    <q-select
      outlined
      clearable
      v-model="mutablecilindro"
      use-input
      label="Cilindro"
      :options="cilindros"
      option-value="id"
      option-label="descripcion"
      @filter="filtercilindro"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>

</template>
<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var stringcilindros = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.fillcilindro()
  },
  data() {
    name: "cilindro-input";
    return {
        cilindros:stringcilindros,

    };
  },
  props: {
    cilindro: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablecilindro: {
      get: function () {
        return this.cilindro;
      },
      set: function (newValue) {
        this.$emit("cilindrochanged", newValue);
      },
    },
  },
  methods: {
    async fillcilindro() {
  await api.cilindro.findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringcilindros = this.$omitDeep(response.data.cilindros, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtercilindro(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.cilindros = stringcilindros;
          } else {
            const needle = val.toLowerCase();
            this.cilindros = stringcilindros.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>