<template>
  <q-select
    outlined
    clearable
       stack-label 
    v-model="mutablecolor"
    :options="colors"
    label="Color"
    color="teal"
    @filter="filtercolor"
    @filter-abort="abortFilterFn"
  >
    <template v-slot:option="scope">
      <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
        <q-item-section avatar>
           <q-chip
                outline
                :text-color="
                  scope.opt.descripcion.toLowerCase() != 'blanco'
                    ? 'white'
                    : 'black'
                "
                :class="scope.opt.class + ' text-weight-bold'"
              >
                {{ scope.opt.descripcion }}
              </q-chip>
      <!--     <div
            :class="scope.opt.class"
            style="width: 40px; height: 20px; border: 1px solid"
          ></div>
        </q-item-section>
        <q-item-section>
          <q-item-label v-html="scope.opt.descripcion"></q-item-label>-->
        </q-item-section> 
      </q-item>
    </template>
    <template v-slot:selected>
      <q-item-section avatar>
        <q-chip
          outline
          :text-color="
            mutablecolor ?  mutablecolor.descripcion.toLowerCase() != 'blanco'
              ? 'white'
              : 'black'
              :'black'
          "
          :class="
            mutablecolor ? mutablecolor.class : 'bg-white' + ' text-weight-bold'
          "
        >
          {{mutablecolor ? mutablecolor.descripcion :'' }}
        </q-chip>

       <!--  <div
          :class="mutablecolor ? mutablecolor.class : 'bg-white'"
          style="width: 40px; height: 20px; border: 1px solid"
        ></div> -->
      </q-item-section>
      <!-- <q-item-section>
            <q-item-label v-html=" mutablecolor? mutablecolor.descripcion : 'N/A'"></q-item-label>
          </q-item-section> -->
    </template>
  </q-select>
</template>
      

<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var stringcolors = [];
export default {
  mixins: [inputmixing],
  mounted() {
    this.fillcolor();
  },
  data() {
    name: "color-input";
    return {
      colors: stringcolors,
    };
  },
  props: {
    color: {
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablecolor: {
      get: function () {
        return this.color;
      },
      set: function (newValue) {
        this.$emit("colorchanged", newValue);
      },
    },
  },
  methods: {
    async fillcolor() {
      await api.color
        .findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringcolors = this.$omitDeep(response.data.colors, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },

    filtercolor(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.colors = stringcolors;
          } else {
            const needle = val.toLowerCase();
            this.colors = stringcolors.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

      
      <style>
</style>