<template>
  <q-select
    
    v-model="mutableinventario"
    clearable
    use-input
    stack-label 
    label="Vehiculo"
    :options="inventarios"
    @filter="filterinventario"
    @filter-abort="abortFilterFn"
    ref="inventarioInput"
    lazy-rules
    :rules="[(val) => (val !== null && val !== '') || 'Seleccione un valor']"
  >
    <template v-slot:append>
      <q-icon name="fa fa-car" />
    </template>
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">No results</q-item-section>
      </q-item>
    </template>

    <template v-slot:selected>
      <q-card class="my-card q-ma-sm">
        <q-card-section>
          <q-item-section bordered>
            <q-item-label
              class="text-weight-bold"
              v-html="
                mutableinventario != null
                  ? mutableinventario.vehiculo.modelo.marca.descripcion +
                    '-' +
                    mutableinventario.vehiculo.modelo.descripcion +
                    ' ' +
                    mutableinventario.year +
                    ' ' +
                    mutableinventario.vin
                  : ''
              "
            />

            <q-item-label class="text-body-1">
              {{
                mutableinventario != null
                  ? mutableinventario.vehiculo.tipo_combustible.descripcion
                  : ""
              }}
              {{
                mutableinventario != null
                  ? mutableinventario.vehiculo.tipo_train.descripcion
                  : ""
              }}
              {{
                mutableinventario != null
                  ? mutableinventario.vehiculo.cilindro.descripcion
                  : ""
              }}
              {{
                mutableinventario != null
                  ? mutableinventario.vehiculo.tipo_transmision.descripcion
                  : ""
              }}
              {{
                mutableinventario != null
                  ? mutableinventario.vehiculo.tipo_motor.descripcion
                  : ""
              }}
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-weight-bold text-h6 text-italic">
                {{
                mutableinventario != null
                  ?$MyUtils.formatCurrency( mutableinventario.precio_venta)
                  : $MyUtils.formatCurrency(0)
              }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-chip
              v-if="mutableinventario"
              outline
              :text-color="
                mutableinventario != null
                  ? mutableinventario.color.descripcion.toLowerCase() !=
                    'blanco'
                    ? 'white'
                    : 'black'
                  : ''
              "
              :class="
                mutableinventario != null
                  ? mutableinventario.color.class
                  : '' + ' text-weight-bold'
              "
            >
              {{
                mutableinventario != null
                  ? mutableinventario.color.descripcion
                  : "Seleccione un vehiculo"
              }}
            </q-chip>
          </q-item-section>
       
        </q-card-section>
      </q-card>
    </template>
    <template v-slot:option="scope">
      <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
        <q-card class="my-card q-pt-none">
          <q-card-section>
            <q-item-section bordered>
              <q-item-label
                class="text-weight-bold"
                v-html="
                  scope.opt.vehiculo.modelo.marca.descripcion +
                  '-' +
                  scope.opt.vehiculo.modelo.descripcion +
                  ' ' +
                  scope.opt.year +
                  ' ' +
                  scope.opt.vin
                "
              />

              <q-item-label class="text-body-1">
                {{ scope.opt.vehiculo.tipo_combustible.descripcion }}
                {{ scope.opt.vehiculo.tipo_train.descripcion }} (
                {{ scope.opt.vehiculo.cilindro.descripcion }})
                {{ scope.opt.vehiculo.tipo_transmision.descripcion }}
                {{ scope.opt.vehiculo.tipo_motor.descripcion }}
              </q-item-label>
            </q-item-section>
               <q-item-section>
            <q-item-label class="text-weight-bold text-h6 text-italic">
                {{
                scope.opt != null
                  ?$MyUtils.formatCurrency( scope.opt.precio_venta)
                  : $MyUtils.formatCurrency(0)
              }}
            </q-item-label>
          </q-item-section>
            <q-item-section avatar>
              <q-chip
                outline
                :text-color="
                  scope.opt.color.descripcion.toLowerCase() != 'blanco'
                    ? 'white'
                    : 'black'
                "
                :class="scope.opt.color.class + ' text-weight-bold'"
              >
                {{ scope.opt.color.descripcion }}
              </q-chip>
            </q-item-section>
          </q-card-section>
        </q-card>
      </q-item>
    </template>
  </q-select>
</template>
<script>
import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var stringinventarios = [];
export default {
  mixins: [inputmixing],
  mounted() {
    this.fillinventario();
  },
  data() {
    name: "inventario-input";
    return {
      inventarios: stringinventarios,
    };
  },
  props: {
    inventario: {
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutableinventario: {
      get: function () {
        return this.inventario;
      },
      set: function (newValue) {
        this.$emit("inventariochanged",{inventario:newValue,precio_venta:newValue.precio_venta})
       // this.$emit("precioventachanged",newValue.precio_venta)
      },
    },
  },
  methods: {
    async fillinventario() {
      await api.inventario
        .findByParam(undefined, true)
        .then((response) => {
          console.log(response);
          stringinventarios = this.$omitDeep(
            response.data.inventarios,
            "__typename"
          );
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filterinventario(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.inventarios = stringinventarios;
          } else {
            const needle = val.toLowerCase();
            this.inventarios = stringinventarios.filter(
              (v) =>
                v.vehiculo.modelo.descripcion.toLowerCase().indexOf(needle) >
                  -1 ||
                v.vin.toLowerCase().indexOf(needle) > -1 ||
                v.vehiculo.modelo.marca.descripcion
                  .toLowerCase()
                  .indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script lang="sass" scoped>


<style lang="sass" scoped>
.my-card
  width: 100%

</style>
