<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutablemarca"
      use-input
      label="Marca"
      :options="marcas"
      option-value="id"
      option-label="descripcion"
      @filter="filterMarca"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>

import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var stringMarcas = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.fillMarca()
  },
  data() {
    name: "marca-input";
    return {
        marcas:stringMarcas,

    };
  },
  props: {
    marca: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablemarca: {
      get: function () {
        return this.marca;
      },
      set: function (newValue) {
        this.$emit("marcachanged", newValue);
      },
    },
  },
  methods: {
    async fillMarca() {
      await api.
        marca.findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringMarcas = this.$omitDeep(response.data.marcas, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filterMarca(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.marcas = stringMarcas;
          } else {
            const needle = val.toLowerCase();
            this.marcas = stringMarcas.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>