<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutablemodelo"
      use-input
      label="Modelo"
      :options="modelos"
      option-value="id"
      option-label="descripcion"
      @filter="filtermodelo"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>

import inputmixing from "../../mixins/inputmixing";
export default {
  mixins: [inputmixing],

  data() {
    return {
      name: "modelo-input",
    };
  },
  props: {
    modelo: {
      required: true,
    },
    modelos: {
      type: Array,
    },
    modelosunfiltered: {
      type: Array,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablemodelo: {
      get: function () {
        return this.modelo;
      },
      set: function (newValue) {
        //  newValue.marca=this.modelo.marca
        this.$emit("modelochanged", newValue);
      },
    },
    mutablemodelos: {
      get: function () {
        return this.modelos;
      },
      set: function (newValue) {
        this.$emit("optionschanged", newValue);
      },
    },
  },
  methods: {
   filtermodelo(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.mutablemodelos = this.modelosunfiltered;
          } else {
            const needle = val.toLowerCase();
            this.mutablemodelos = this.modelosunfiltered.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>