<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutable_moneda"
      use-input
      label="Moneda"
      :options="monedas"
      option-value="id"
      option-label="descripcion"
      @filter="filter_moneda"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>

import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var string_monedas = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.fill_moneda()
  },
  data() {
    name: "moneda-input";
    return {
        monedas:string_monedas,

    };
  },
  props: {
    moneda: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutable_moneda: {
      get: function () {
        return this.moneda;
      },
      set: function (newValue) {
        this.$emit("monedachanged", newValue);
      },
    },
  },
  methods: {
   async fill_moneda() {
     await api.
        moneda.findByParam(undefined)
        .then((response) => {
          console.log(response);
          string_monedas = this.$omitDeep(response.data.monedas, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filter_moneda(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.monedas = string_monedas;
          } else {
            const needle = val.toLowerCase();
            this.monedas = string_monedas.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>