<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutableroles"
      use-input
      label="Roles"
      multiple
      use-chips
      :options="proles"
      option-value="id"
      option-label="descripcion"
      @filter="filterroles"
      @filter-abort="abortFilterFn"
      @add="addToRoles"
      @remove="removeFromRoles"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>
import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var stringroles = [];
export default {
  mixins: [inputmixing],
  mounted() {
    this.fillroles();
  },
  data() {
    name: "rol-input";
    return {
      proles: stringroles,
     
    };
  },
  props: {
    roles: {
      required: true,
      type: Array,
    },
    loading: {
      type: Boolean,
      required: false,
    },
    rolesToAdd: {
      type: Array,
      required: true,
    },
    rolesToRemove: {
      type: Array,
      required: true,
    },
  },
  computed: {
    mutableroles: {
      get:()=> {
        return this.roles;
      },
      set: (newValue)=> {
        this.$emit("roleschanged", newValue);
      },
    },
    mutableRolesToAdd: {
      get:  ()=> {
        return this.rolesToAdd;
      },
      set:  (newValue)=> {
        this.$emit("rolAdded", newValue);
      },
    },

    mutableRolesToRemove: {
      get:  () =>{
        return this.rolesToRemove;
      },
      set: (newValue)=> {
        this.$emit("rolRemoved", newValue);
      },
    },
  },
  methods: {
   async fillroles() {
     await api.rol
        .findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringroles = this.$omitDeep(response.data.roles, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filterroles(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.proles = stringroles;
          } else {
            const needle = val.toLowerCase();
            this.proles = stringroles.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },
    addToRoles(value) {
      console.log(value);
      this.mutableRolesToRemove = this.rolesToRemove?.filter(
        (rol) => rol.id !== value.value.id
      );
      const rolAdded = this.mutableRolesToAdd?.some((rol) => {
        return rol.id === value.value.id;
      });

      if (!rolAdded) this.mutableRolesToAdd?.push(value.value);

      console.log(this.rolesToAdd);
      //this.emitAddRemove()
    },
    removeFromRoles(value) {
      console.log(value);
      this.mutableRolesToAdd = this.rolesToAdd?.filter(
        (rol) => rol.id !== value.value.id
      );

      const rolInRemove = this.mutableRolesToRemove.some((rol) => {
        return rol.id === value.value.id;
      });

      if (!rolInRemove) this.mutableRolesToRemove.push(value.value);
      //this.emitAddRemove()
    },

    emitAddRemove() {
      this.$emit("rolesToAddChanged", this.rolesToAdd);
      this.$emit("rolesToRemoveChanged", this.rolesToRemove);
    },
  },
};
</script>

<style>
</style>