<template>
  <q-select
    outlined
    clearable
    v-model="mutablestatusinv"
    use-input
    label="Estado Inventario"
    :options="statusinvs"
    option-value="id"
    option-label="descripcion"
    @filter="filterstatusinv"
    @filter-abort="abortFilterFn"
    ref="statusInput"
    lazy-rules
    :rules="[(val) => (val !== null && val !== '') || 'Seleccione un valor']"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">No results</q-item-section>
      </q-item>
    </template>
  </q-select>
</template>
<script>

import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var stringstatusinvs = [];
export default {
  mixins: [inputmixing],
  mounted() {
    this.fillstatusinv();
  },
  created() {
    // this.$validator = this.$parent.$validator;
  },

  data() {
    name: "statusinv-input";
    return {
      statusinvs: stringstatusinvs,
    };
  },
  props: {
    statusinv: {
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablestatusinv: {
      get: function () {
        return this.statusinv;
      },
      set: function (newValue) {
        this.$emit("statusinvchanged", newValue);
      },
    },
  },
  methods: {
    async fillstatusinv() {
      await api.statusinv
        .findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringstatusinvs = this.$omitDeep(
            response.data.statuses_inv,
            "__typename"
          );
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filterstatusinv(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.statusinvs = stringstatusinvs;
          } else {
            const needle = val.toLowerCase();
            this.statusinvs = stringstatusinvs.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>