<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutablesucursales"
      use-input
      label="Sucursales"
      multiple
      use-chips
      :options="psucursales"
      option-value="id"
      option-label="descripcion"
      @filter="filtersucursales"
      @filter-abort="abortFilterFn"
      @add="addToSucursales"
      @remove="removeFromSucursales"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>
import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var stringsucursales = [];
export default {
  mixins: [inputmixing],
  mounted() {
    this.fillsucursales();
  },
  data() {
    name: "sucursal-input";
    return {
      psucursales: stringsucursales,
    };
  },
  props: {
    sucursales: {
      required: true,
      type: Array,
    },
    sucursalesToAdd: {
      required: true,
      type: Array,
    },
    sucursalesToRemove: {
      required: true,
      type: Array,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablesucursales: {
      get: function () {
        return this.sucursales;
      },
      set: function (newValue) {
        this.$emit("sucursaleschanged", newValue);
      },
    },
    mutableSucursalesToAdd: {
      get: function () {
        return this.sucursalesToAdd;
      },
      set: function (newValue) {
        this.$emit("sucursalAdded", newValue);
      },
    },

    mutableSucursalesToRemove: {
      get: function ()  {
        return this.sucursalesToRemove;
      },
      set: function (newValue) {
        this.$emit("sucursalRemoved", newValue);
      },
    },
  },
  methods: {
    async fillsucursales() {
      const getSucursales = this.$Auth.isSuperAdmin()
        ? api.sucursal.get_by_param
        : api.sucursal.get_by_param2;

      await getSucursales(undefined)
        .then((response) => {
          console.log(response);
          stringsucursales = this.$omitDeep(
            response.data.sucursales,
            "__typename"
          );
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtersucursales(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.psucursales = stringsucursales;
          } else {
            const needle = val.toLowerCase();
            this.psucursales = stringsucursales.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },

    addToSucursales(value) {
      console.log(value);
     
      this.mutableSucursalesToRemove = this.sucursalesToRemove?.filter(
        (sucursal) => sucursal.id !== value.value.id
      );

      const sucursalAdded = this.mutableSucursalesToAdd?.some((sucursal) => {
        return sucursal.id === value.value.id;
      });

      if (!sucursalAdded) this.mutableSucursalesToAdd?.push(value.value);

      console.log(this.sucursalesToAdd);
      //this.emitAddRemove();
    },
    removeFromSucursales(value) {
      console.log(value);
   
      this.mutableSucursalesToAdd = this.sucursalesToAdd?.filter(
        (sucursal) => sucursal.id !== value.value.id
      );

      const sucursalInRemove = this.mutableSucursalesToRemove.some((sucursal) => {
        return sucursal.id === value.value.id;
      });

      if (!sucursalInRemove) this.mutableSucursalesToRemove.push(value.value);
      //this.emitAddRemove();
    },
    emitAddRemove() {
      this.mutableSucursalesToAdd = this.sucursalesToAdd;
      this.mutableSucursalesToRemove = this.sucursalesToRemove;
    },
  },
};
</script>

<style>
</style>