<template>
  <q-select
    outlined
    clearable
    v-model="mutablesucursal"
    use-input
    label="Dealer-Sucursal"
    :options="sucursales"
    option-value="id"
    option-label="descripcion"
    ref="sucursalInput"
    lazy-rules
    :rules="[(val) => (val !== null && val !== '') || 'Seleccione un valor']"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">No results</q-item-section>
      </q-item>
    </template>
  </q-select>
</template>
<script>
import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var stringSucursales = [];
export default {
  mixins: [inputmixing],
  mounted() {
    //this.fillstatusinv();
  },
  created() {
    // this.$validator = this.$parent.$validator;
  },

  data() {
    name: "sucursales-suser-input";
    return {
    
    };
  },
  props: {
    sucursal: {
      type:Object,
      required: true,
    },
    sucursales:{
      type:Array
    },

    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablesucursal: {
      get: function () {
        return this.sucursal;
      },
      set: function (newValue) {
        this.$emit("sucursalchanged", newValue);
      },
    },
  },
  methods: {
  
    abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>