<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutablesucursal"
      use-input
      label="Sucursales"
      use-chips
      :options="psucursales"
      option-value="id"
      option-label="descripcion"
      @filter="filtersucursales"
      @filter-abort="abortFilterFn"
  
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>
import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var stringsucursales = [];
export default {
  mixins: [inputmixing],
  mounted() {
    this.fillsucursales();
  },
  data() {
    name: "sucursal-input";
    return {
      psucursales: stringsucursales,
    };
  },
  props: {
    sucursal: {
      required: true,
  
    },
   
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablesucursal: {
      get: function () {
        return this.sucursal;
      },
      set: function (newValue) {
        this.$emit("sucursalchanged", newValue);
      },
    },
  
  },
  methods: {
   async fillsucursales() {
      const getSucursales = this.$Auth.isSuperAdmin()
        ? api.sucursal.get_by_param
        : api.sucursal.get_by_param2;

 await     getSucursales(undefined)
        .then((response) => {
          console.log(response);
          stringsucursales = this.$omitDeep(
            response.data.sucursales,
            "__typename"
          );
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtersucursales(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.psucursales = stringsucursales;
          } else {
            const needle = val.toLowerCase();
            this.psucursales = stringsucursales.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },

  },
};
</script>

<style>
</style>