<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutable_tasa_cambio"
      use-input
      label="Tasa De Cambio"
      :options="tasa_cambios"
      @filter="filter_tasa_cambio"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:option="scope">
        <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
          <q-item-section>
            <q-item-label >
              {{
                `1 ${scope.opt.moneda_predeterminada.descripcion}
            =${scope.opt.valor}  ${scope.opt.moneda_alterna.descripcion}`
              }}
            </q-item-label>
            <q-item-label caption></q-item-label>
          </q-item-section>
        </q-item>
      </template>

      <template v-slot:selected>
        <q-item-section>
          <q-item-label class="text-weight-bold">
            {{
              mutable_tasa_cambio
                ? `1 ${mutable_tasa_cambio.moneda_predeterminada.descripcion} = ${mutable_tasa_cambio.valor} ${mutable_tasa_cambio.moneda_alterna.descripcion}`
                : " "
            }}
          </q-item-label>
          <q-item-label caption></q-item-label>
        </q-item-section>
      </template>

      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>

import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var string_tasa_cambios = [];
export default {
  mixins: [inputmixing],
  mounted() {
    this.fill_tasa_cambio();
  },
  data() {
    name: "tasa_cambio-input";
    return {
      tasa_cambios: string_tasa_cambios,
    };
  },
  props: {
    tasa_cambio: {
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutable_tasa_cambio: {
      get: function () {
        return this.tasa_cambio;
      },
      set: function (newValue) {
        this.$emit("tasa_cambiochanged", newValue);
      },
    },
  },
  methods: {
    async fill_tasa_cambio() {
      await api.tasa_cambio
        .findByParam(undefined)
        .then((response) => {
          console.log(response);
          string_tasa_cambios = this.$omitDeep(
            response.data.tasa_cambios,
            "__typename"
          );
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filter_tasa_cambio(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.tasa_cambios = string_tasa_cambios;
          } else {
            const needle = val.toLowerCase();
            this.tasa_cambios = string_tasa_cambios.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>