<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutabletipo_vehiculo"
      use-input
      label="Tipo Vehiculo"
      :options="tipo_vehiculos"
      option-value="id"
      option-label="descripcion"
      @filter="filtertipo_vehiculo"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var stringtipo_vehiculos = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.filltipo_vehiculo()
  },
  data() {
    name: "tipo_vehiculo-input";
    return {
        tipo_vehiculos:stringtipo_vehiculos,

    };
  },
  props: {
    tipo_vehiculo: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutabletipo_vehiculo: {
      get: function () {
        return this.tipo_vehiculo;
      },
      set: function (newValue) {
        this.$emit("tipo_vehiculochanged", newValue);
      },
    },
  },
  methods: {
    async filltipo_vehiculo() {
      await api.
        tipo_vehiculo.findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringtipo_vehiculos = this.$omitDeep(response.data.tipo_vehiculos, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtertipo_vehiculo(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.tipo_vehiculos = stringtipo_vehiculos;
          } else {
            const needle = val.toLowerCase();
            this.tipo_vehiculos = stringtipo_vehiculos.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>