<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutabletipo_combustible"
      use-input
      label="Tipo Combustible"
      :options="tipo_combustibles"
      option-value="id"
      option-label="descripcion"
      @filter="filtertipo_combustible"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>

import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var stringtipo_combustibles = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.filltipo_combustible()
  },
  data() {
    name: "tipo_combustible-input";
    return {
        tipo_combustibles:stringtipo_combustibles,

    };
  },
  props: {
    tipo_combustible: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutabletipo_combustible: {
      get: function () {
        return this.tipo_combustible;
      },
      set: function (newValue) {
        this.$emit("tipo_combustiblechanged", newValue);
      },
    },
  },
  methods: {
    async filltipo_combustible() {
     await api.
        tipo_combustible.findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringtipo_combustibles = this.$omitDeep(response.data.tipo_combs, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtertipo_combustible(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.tipo_combustibles = stringtipo_combustibles;
          } else {
            const needle = val.toLowerCase();
            this.tipo_combustibles = stringtipo_combustibles.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>