<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutabletipo_train"
      use-input
      label="Tren"
      :options="tipo_trains"
      option-value="id"
      option-label="descripcion"
      @filter="filtertipo_train"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var stringtipo_trains = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.filltipo_train()
  },
  data() {
    name: "tipo_train-input";
    return {
        tipo_trains:stringtipo_trains,

    };
  },
  props: {
    tipo_train: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutabletipo_train: {
      get: function () {
        return this.tipo_train;
      },
      set: function (newValue) {
        this.$emit("tipo_trainchanged", newValue);
      },
    },
  },
  methods: {
    async filltipo_train() {
      await api.
        tipo_train.findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringtipo_trains = this.$omitDeep(response.data.tipo_trains, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtertipo_train(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.tipo_trains = stringtipo_trains;
          } else {
            const needle = val.toLowerCase();
            this.tipo_trains = stringtipo_trains.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>