<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutable_tipo_gasto"
      use-input
      label="Tipo Gasto"
      :options="tipo_gastos"
      option-value="id"
      option-label="descripcion"
      @filter="filter_tipo_gasto"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var string_tipo_gastos = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.filltipo_gasto()
  },
  data() {
    name: "tipo_gasto-input";
    return {
        tipo_gastos:string_tipo_gastos,

    };
  },
  props: {
    tipo_gasto: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutable_tipo_gasto: {
      get: function () {
        return this.tipo_gasto;
      },
      set: function (newValue) {
        this.$emit("tipo_gastochanged", newValue);
      },
    },
  },
  methods: {
    async filltipo_gasto() {
     await api.
        tipo_gasto.findByParam(undefined)
        .then((response) => {
          console.log(response);
          string_tipo_gastos = this.$omitDeep(response.data.tipo_gastos, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filter_tipo_gasto(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.tipo_gastos = string_tipo_gastos;
          } else {
            const needle = val.toLowerCase();
            this.tipo_gastos = string_tipo_gastos.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>