<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutabletipo_transmision"
      use-input
      label="Transmision"
      :options="tipo_transmisions"
      option-value="id"
      option-label="descripcion"
      @filter="filtertipo_transmision"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var stringtipo_transmisions = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.filltipo_transmision()
  },
  data() {
    name: "tipo_transmision-input";
    return {
        tipo_transmisions:stringtipo_transmisions,

    };
  },
  props: {
    tipo_transmision: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutabletipo_transmision: {
      get: function () {
        return this.tipo_transmision;
      },
      set: function (newValue) {
        this.$emit("tipo_transmisionchanged", newValue);
      },
    },
  },
  methods: {
    async filltipo_transmision() {
     await api.
        tipo_transmision.findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringtipo_transmisions = this.$omitDeep(response.data.tipo_trans, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtertipo_transmision(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.tipo_transmisions = stringtipo_transmisions;
          } else {
            const needle = val.toLowerCase();
            this.tipo_transmisions = stringtipo_transmisions.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>