<template>
  <div class="col-6">
    <q-select
      outlined
      clearable
      v-model="mutabletipo_motor"
      use-input
      label="Tipo Motor"
      :options="tipo_motors"
      option-value="id"
      option-label="descripcion"
      @filter="filtertipo_motor"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>
<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var stringtipo_motors = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.filltipo_motor()
  },
  data() {
    name: "tipo_motor-input";
    return {
        tipo_motors:stringtipo_motors,

    };
  },
  props: {
    tipo_motor: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutabletipo_motor: {
      get: function () {
        return this.tipo_motor;
      },
      set: function (newValue) {
        this.$emit("tipo_motorchanged", newValue);
      },
    },
  },
  methods: {
    async filltipo_motor() {
      await api.
        tipo_motor.findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringtipo_motors = this.$omitDeep(response.data.tipo_motores, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtertipo_motor(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.tipo_motors = stringtipo_motors;
          } else {
            const needle = val.toLowerCase();
            this.tipo_motors = stringtipo_motors.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>