<template>

    <q-select
      outlined
      clearable
      v-model="mutableubicacion"
      use-input
      label="Ubicación"
      :options="ubicaciones"
      option-value="id"
      option-label="descripcion"
      @filter="filterubicacion"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey">No results</q-item-section>
        </q-item>
      </template>
    </q-select>

</template>
<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from '../../mixins/inputmixing'
var stringubicaciones = [];
export default {
    mixins:[inputmixing],
  mounted() {
      this.fillubicacion()
  },
  data() {
    name: "ubicacion-input";
    return {
        ubicaciones:stringubicaciones,

    };
  },
  props: {
    ubicacion: {  
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutableubicacion: {
      get: function () {
        return this.ubicacion;
      },
      set: function (newValue) {
        this.$emit("ubicacionchanged", newValue);
      },
    },
  },
  methods: {
    async fillubicacion() {
      await api.ubicacion.findByParam(undefined)
        .then((response) => {
          console.log(response);
          stringubicaciones = this.$omitDeep(response.data.ubicaciones, "__typename");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filterubicacion(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.ubicaciones = stringubicaciones;
          } else {
            const needle = val.toLowerCase();
            this.ubicaciones = stringubicaciones.filter(
              (v) => v.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
       abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>

<style>
</style>