<template>
  <q-select
    
    v-model="mutablevehiculo"
    clearable
       stack-label 
    use-input
    label="Vehiculo"
    :options="vehiculos"
    @filter="filtervehiculo"
    @filter-abort="abortFilterFn"
     ref="vehiculoInput"
              lazy-rules
              :rules="[
                (val) => (val !== null && val !== '') || 'Seleccione un valor',
              ]"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">No results</q-item-section>
      </q-item>
    </template>
    <template v-slot:selected>
           <q-card class="my-card q-ma-sm">
        <q-card-section>
      <q-item-section bordered>
        <q-item-label class="text-weight-bold" v-html="mutablevehiculo?  mutablevehiculo.modelo.marca.descripcion : 'N/A'" />
          <q-separator spaced  />
        <q-item-label caption>{{mutablevehiculo? mutablevehiculo.modelo.descripcion : "N/A"}}</q-item-label>
        <q-item-label caption>{{mutablevehiculo? mutablevehiculo.tipo_combustible.descripcion: "N/A"}}</q-item-label>
        <q-item-label caption>{{mutablevehiculo? mutablevehiculo.tipo_train.descripcion: "N/A"}}</q-item-label>
        <q-item-label caption>{{mutablevehiculo? mutablevehiculo.cilindro.descripcion: "N/A"}}</q-item-label>
        <q-item-label caption>{{mutablevehiculo? mutablevehiculo.tipo_transmision.descripcion: "N/A"}}</q-item-label>
        <q-item-label caption>{{mutablevehiculo? mutablevehiculo.tipo_motor.descripcion: "N/A"}}</q-item-label>
      </q-item-section>
        </q-card-section>
           </q-card>
    </template>
    <template v-slot:option="scope">
         
      <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
        <q-item-section>
          <q-item-label v-html="scope.opt.modelo.marca.descripcion" class="text-weight-bold" />
          <q-item-label caption>
            {{scope.opt.modelo.descripcion}} {{scope.opt.tipo_combustible.descripcion}} {{scope.opt.tipo_train.descripcion}} (
            {{scope.opt.cilindro.descripcion}}) {{scope.opt.tipo_transmision.descripcion}} {{scope.opt.tipo_motor.descripcion}}
          </q-item-label>
          <q-item-label caption></q-item-label>
        </q-item-section>
      </q-item>
     
    </template>
  </q-select>
</template>
<script>
import { isNullOrUndefined } from "util";
import api from "../../api";
import inputmixing from "../../mixins/inputmixing";
var stringvehiculos = [];
export default {
  mixins: [inputmixing],
  mounted() {
    this.fillvehiculo();
  },
  data() {
    name: "vehiculo-input";
    return {
      vehiculos: stringvehiculos,
    };
  },
  props: {
    vehiculo: {
      required: true,
    },
    loading: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    mutablevehiculo: {
      get: function () {
        return this.vehiculo;
      },
      set: function (newValue) {
        this.$emit("vehiculochanged", newValue);
      },
    },
  },
  methods: {
    async fillvehiculo() {
      await api.vehiculo
        .findByParam(undefined, true)
        .then((response) => {
          console.log(response);
          stringvehiculos = this.$omitDeep(
            response.data.vehiculos,
            "__typename"
          );
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filtervehiculo(val, update, abort) {
      setTimeout(() => {
        update(() => {
          if (val === "") {
            this.vehiculos = stringvehiculos;
          } else {
            const needle = val.toLowerCase();
            this.vehiculos = stringvehiculos.filter(
              (v) => v.modelo.descripcion.toLowerCase().indexOf(needle) > -1
            );
          }
        });
      }, 300);
    },
    abortFilterFn() {
      console.log("delayed filter aborted");
    },
  },
};
</script>


<style lang="sass" scoped>
.my-card
  width: 100%

</style>
