<template>
  <form-container
    title="Sucursal"
    :saving="saving"
    :withgrid="false"
    :showloading="loading"
    @returnto="$MyUtils.redirectTo({ name: 'mantdealers', params: { id: form.dealer.id } })"
    @submitform="submitForm('sucursal', ['nombre'])"
  >
    <template v-slot:formcontent>
      <q-card-section class="text-subtitle2 text-grey-8"
        >Información General</q-card-section
      >
      <q-card-section class="q-gutter-md">
        <div class="col-xs-12 col-sm-12">
          <q-input
            label="Nombre"
            v-model="form.descripcion"
            ref="nombre"
            :rules="[
              (val) =>
                (val !== null && val !== '') || 'Digite Nombre de la sucursal',
            ]"
          >
            <template v-slot:append>
              <q-icon name="fa fa-signature" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12">
          <q-input label="Direción" v-model="form.direccion">
            <template v-slot:append>
              <q-icon name="fa fa-address-card" />
            </template>
          </q-input>
        </div>
      </q-card-section>
      <q-card-section class="text-subtitle2 text-grey-8"
        >Contactos</q-card-section
      >
      <q-card-section class="q-gutter-md">
        <div class="col-xs-12 col-sm-12">
          <q-input
            label="Telefonos"
            type="tel"
            :before="[{ icon: 'phone', handler() {} }]"
            v-model="form.telefonos"
            placeholder="(809)-000-0000"
          >
            <template v-slot:append>
              <q-icon name="phone" />
            </template>
          </q-input>
        </div>
      </q-card-section>
      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>

      <!-- </div> -->
    </template>
  </form-container>
</template>

<script>
import sucursalmixin from "../../mixins/sucursales/sucursalmantmixin";
import form_container from "../FormContainer";
export default {
  mixins: [sucursalmixin],
  components: {
    "form-container": form_container,
  },
};
</script>

<style>
</style>