<template>
  <q-page class="flex row justify-center">
    <dealer-grid
      ref="dealergrid"
      :data="dealers"
      title="Dealers"
      :showloading="loading"
      gridtitle="Consulta y manejo de Dealers"
      :columns="columns"
      float_label="Buscar Dealers"
      route_edit="mantdealers"
      :configs="configs"
      :show_child_card="false"
      :search_filter="search_dealers"
      @filterchanged="search_dealers = $event"
      @loadData="loadData"
      @insertdata="$MyUtils.redirectTo({ name: 'mantdealers' })"
      @editdata="
        $MyUtils.redirectTo({ name: 'mantdealers', params: { id: $event } })
      "
    ></dealer-grid>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab icon="add" direction="up" color="primary">
        <q-fab-action color="blue" class="white" to="/mantdealers" icon="add">
          <q-tooltip transition-show="flip-right" transition-hide="flip-left">
            Agregar Nuevo Dealer
          </q-tooltip>
        </q-fab-action>
        <q-fab-action color="blue" class="white" icon="mail" />
      </q-fab>
    </q-page-sticky>
    <!--    <q-fab
          color="blue"
          class="q-mt-md q-mr-md q-mb-md fixed-bottom-right"
          icon="people"
          direction="up"
        >
          <q-fab-action color="primary" @click="someMethod" icon="mail"/>

          <q-fab-action color="secondary" @click="someMethod" icon="alarm"/>
    </q-fab>-->
  </q-page>
</template>

<script>
// import tooltipButton from './tooltipButton.vue'
import dealer_grid from "../../components/gridSearch";
import dealer_mixins from "../../mixins/dealer/dealermixins";
export default {
  mixins: [dealer_mixins],
  components: {
    "dealer-grid": dealer_grid,
  },
};
</script>

<style scoped>
.grid-filter {
  max-width: 200px;
}
.grid-search {
  max-width: calc(100% - 400px);
}
.grid-pagination {
  max-width: 200px;
}
.card-size {
  width: 963px;
}
</style>
