<template>
  <q-page class="q-pa-md row flex items-start justify-center">
    <sucursal-mant> </sucursal-mant>
  </q-page>
</template>

<script>
import sucursal_mant from "../../components/sucursal/sucursalmantcomp";
export default {
  components: {
    "sucursal-mant": sucursal_mant,
  },
};
</script>

<style>
</style>