<template>
<div>
  <form-container
    title="Factura"
    :saving="saving"
    :withgrid="true"
    :showloading="loading"
    @returnto="$MyUtils.returnTo('ventas')"
    @submitform="
      submitForm('venta')
    "
  >
    <template v-slot:formcontent>
      <q-card-section class="q-gutter-md">
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6 text-h5">
            Factura No.<q-chip icon="receipt">{{ form.codigofactura }}</q-chip>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <sucursal
              :sucursal="form.sucursal"
              @sucursalchanged="form.sucursal = $event"
            >
            </sucursal>
          </div>
        </div>
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input label="Cedula"  mask="###-#######-#" v-model="form.cedula">
              <template v-slot:append>
                <q-icon name="fa fa-id-card" />
              </template>
            </q-input>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input label="Cliente"    v-model="form.cliente">
              <template v-slot:append>
                <q-icon name="fa fa-signature" />
              </template>
            </q-input>
          </div>
        </div>
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <inventario
              :inventario="form.inventario"
              @inventariochanged="form.inventario = $event.inventario ,form.monto=$event.precio_venta"
           
            >
            </inventario>
          </div>
          <div class="col  col-md-12 col-12 col-lg-6 col-xl-6">
            <q-input
              label="Precio de Venta"
              v-model.number="form.monto" type="number"
            >
              <template v-slot:append>
                <q-icon name="fa fa-dollar-sign" />
              </template>
            </q-input>
          </div>
           <div class="col col-md-12 col-12 col-lg-3 col-xl-3">
            <moneda
              :moneda="form.moneda"
              @monedachanged="form.moneda = $event"
            ></moneda>
          </div>
          <div class="col col-md-12 col-12 col-lg-3 col-xl-3">
            <tasa-cambio
              :tasa_cambio="form.tasa_cambio"
              @tasa_cambiochanged="form.tasa_cambio = $event"

            ></tasa-cambio>
          </div>
        </div>
        <div class="row q-col-gutter-xs">
         
        </div>
      </q-card-section>
    </template>
  </form-container>
  <InvoicePrint>
    
  </InvoicePrint>
  </div>
</template>

<script>
import form_container from "../FormContainer";
import sucursal from "../selectinputs/sucursalinput";
import tasa_cambio from "../selectinputs/tasacambioInput";
import moneda from "../selectinputs/monedaInput";
import ventas_mant from "../../mixins/venta/ventamant";
import inventario from "../selectinputs/inventarioInput";
import InvoicePrint from '../printables/invoice'
export default {
  mixins: [ventas_mant],
  components: {
    "form-container": form_container,
    "tasa-cambio": tasa_cambio,
    InvoicePrint,
    sucursal,
    moneda,
    inventario,
  },
};
</script>


<style>
@media print {
   html, body {
     height: 90% !important;
     page-break-after: avoid !important;
     page-break-before: avoid !important;
  }
}
</style>