<template>
  <form-container title="Información Dealer" 
  :saving="saving"
  :withgrid="true"
  :showloading="loading"
  @returnto="$MyUtils.returnTo('dealers')"
  @submitform="submitForm('dealer',['rnc','nombre'])" >
  <template v-slot:formcontent>
      <q-card-section class="q-gutter-md">
        <div class="col-xs-12 col-sm-12">
          <q-input
            label="RNC o Cedula"
            v-model="form.rnc"
            ref="rnc"
             debounce="700"
            :rules="[  val => val !== null && val !== '' || 'Digite el RNC', isUnique]"
          >
            <template v-slot:append>
              <q-icon name="fa fa-id-card" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12">
          <q-input
            label="Nombre"
            v-model="form.nombre"
            ref="nombre"
            :rules="[  val => val !== null && val !== '' || 'Digite el Nombre']"
          >
            <template v-slot:append>
              <q-icon name="fa fa-signature" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12">
          <q-input label="Web-Site" v-model="form.website">
            <template v-slot:append>
              <q-icon name="web" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12">
          <q-input label="E-Mail" type="email" v-model="form.email">
            <template v-slot:append>
              <q-icon name="mail" />
            </template>
          </q-input>
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>
     </template>

   
 <template v-slot:childgrid>
    <q-expansion-item
      v-model="expanded"
      label="Sucursales"
      caption="Listado de sucursales asociadas a la empresa"
        header-class="bg-primary text-h6 text-white"
            expand-icon-class="text-white"
        icon="explore"
    >
      <template v-slot:header>
        <q-item-section avatar>
            <q-avatar
              icon="home_work"
              color="primary"
              text-color="white"
            />
          </q-item-section>
        <q-item-section class="text-h6">Sucursales</q-item-section>
      </template>
      <dealer-grid
        ref="dealergrid"
        :data="form.sucursales"
        title="Sucursales"
        gridtitle="Consulta de Sucursales"
        :columns="columns"
        float_label="Buscar Sucursales"
        route_edit="mantsucursales"
        :configs="configs"
        :show_child_card="showcard"
        :search_filter="searchSucursales"
        @filterchanged="searchSucursales=$event"
        @loadData="loadSucursales"
        @insertdata="$MyUtils.redirectTo({ name: 'mantsucursales', params: { dealerid: form.id } })"
    
        @editdata="$MyUtils.redirectTo({ name: 'mantsucursales', params: { id: $event, dealerid: form.id } })"
        :show_insert="showinsert"
        cardwith
        :show_card_title="false"
        :params="params"
        insert_label="Agregar Sucursal"
      ></dealer-grid>
    </q-expansion-item>
    </template> 
    <!-- </div> -->
  </form-container> 
</template>

<script>
import dealer_mant_mixin from "../../mixins/dealer/dealermantmixin";
import dealer_grid from "../gridSearch";
import form_container from '../FormContainer'
export default {
  mixins: [dealer_mant_mixin],
  components: {
    "dealer-grid": dealer_grid,
    "form-container": form_container
  },

};
</script>

 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 300px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   @media  (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>


