<template>
  <q-card class="q-ma-sm col-xs-12 col-md-12 col-lg-8">
    <q-card-section class="text-grey-8">
      <div class="text-h6">Información Dealer</div>
    </q-card-section>
    <!-- <div style="width: 800px; max-width: 90vw;"> -->
    <q-separator />
    <!-- <form-wrapper :validator="$v.form"> -->
    <form @submit.prevent.stop="submitForm('dealer',['rnc','nombre'])" ref="form">
      <q-card-section class="q-gutter-md">
        <div class="col-xs-12 col-sm-12">

          <q-input
            label="RNC o Cedula"
            v-model="form.rnc"
            ref="rnc"
             debounce="700"
            :rules="[  val => val !== null && val !== '' || 'Digite el RNC', isUnique]"
          >
            <template v-slot:append>
              <q-icon name="fa fa-id-card" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12">
          <q-input
            label="Nombre"
            v-model="form.nombre"
            ref="nombre"
            :rules="[  val => val !== null && val !== '' || 'Digite el Nombre']"
          >
            <template v-slot:append>
              <q-icon name="fa fa-signature" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12">
          <q-input label="Web-Site" v-model="form.website">
            <template v-slot:append>
              <q-icon name="web" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12">
          <q-input label="E-Mail" v-model="form.email">
            <template v-slot:append>
              <q-icon name="mail" />
            </template>
          </q-input>
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>
      <q-card-actions class="justify-end" style="margin-right:10px">
        <q-btn
          color="negative"
          to="/dealers"
          class="raised outline"
          :label="this.$i18n.t('cancel_btn')"
          icon="fa fa-arrow-circle-left"
        />
        <q-btn
          :loading="saving"
          class="raised outline"
          color="primary"
          type="submit"
          :label="this.$i18n.t('accept_btn')"
          icon="save"
        ></q-btn>
      </q-card-actions>
    </form>
    <!-- </form-wrapper> -->
    <q-card-section>
      <q-separator color="blue" />
    </q-card-section>
    <q-expansion-item
      v-model="expanded"
      label="Sucursales"
      caption="Listado de sucursales asociadas a la empresa"
    >
      <template v-slot:header>
        <q-item-section class="text-h6">Sucursales</q-item-section>
      </template>

      <dealer-grid
        ref="dealergrid"
        :data="this.form.sucursales"
        title="Sucursales"
        gridtitle="Consulta de Sucursales"
        :columns="columns"
        float_label="Buscar Sucursales"
        route_edit="mantsucursales"
        :configs="configs"
        :show_child_card="showcard"
        :search_filter="searchSucursales"
        @filterchanged="searchSucursales=$event"
        @loadData="loadSucursales"
        @insertdata="insertData()"
        @editdata="editData($event)"
        :show_insert="showinsert"
        cardwith
        :show_card_title="false"
        :params="params"
        insert_label="Agregar Sucursal"
      ></dealer-grid>
    </q-expansion-item>
    <!-- </div> -->
  </q-card>
</template>

<script>
import dealer_mant_mixin from "../../mixins/dealer/dealermantmixin";
import dealer_grid from "../gridSearch";
export default {
  mixins: [dealer_mant_mixin],
  components: {
    "dealer-grid": dealer_grid,
  },

};
</script>

 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 300px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   @media (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>


