<template>
  <form-container
    title="Vehiculo"
    :saving="saving"
    :withgrid="false"
    :showloading="loading"
    @returnto="$MyUtils.returnTo('vehiculos')"
    @submitform="handleSubmit()"
  >
    <template v-slot:formcontent>
      <q-card-section class="q-gutter-md">
        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <marca :marca="marca" @marcachanged="handleMarcaChanged($event)"></marca>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <modelo
              :modelo="form.modelo"
              :modelos="modelos"
              :modelosunfiltered="modelosunfiltered"
              @optionschanged="modelos=$event"
              @modelochanged="form.modelo=$event"
            ></modelo>
          </div>
        </div>

        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <cilindro :cilindro="form.cilindro" @cilindrochanged="form.cilindro=$event"></cilindro>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <tipo-combustible
              :tipo_combustible="form.tipo_combustible"
              @tipo_combustiblechanged="form.tipo_combustible=$event"
            ></tipo-combustible>
          </div>
        </div>

        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <tipo-motor :tipo_motor="form.tipo_motor" @tipo_motorchanged="form.tipo_motor=$event"></tipo-motor>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <tipo-train :tipo_train="form.tipo_train" @tipo_trainchanged="form.tipo_train=$event"></tipo-train>
          </div>
        </div>

        <div class="row q-col-gutter-xs">
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <tipo-transmision
              :tipo_transmision="form.tipo_transmision"
              @tipo_transmisionchanged="form.tipo_transmision=$event"
            ></tipo-transmision>
          </div>
          <div class="col col-md-12 col-12 col-lg-6 col-xl-6">
            <tipo-vehiculo
              :tipo_vehiculo="form.tipo_vehiculo"
              @tipo_vehiculochanged="form.tipo_vehiculo=$event"
            ></tipo-vehiculo>
          </div>
        </div>
      </q-card-section>
    </template>
  </form-container>
</template>

<script>
import vehiculo_mant_mixin from "../../mixins/vehiculos/vehiculosmantmixin";
import select_inputs from "../../components/selectinputs";
import form_container from "../FormContainer";

export default {
  mixins: [vehiculo_mant_mixin],
  components: {
    "form-container": form_container,
    "tipo-combustible": select_inputs.tipo_combustible_input,
    "cilindro": select_inputs.cilindro_input,
    "marca": select_inputs.marcas_input,
    "modelo": select_inputs.modelo_input,
    "tipo-motor": select_inputs.tipo_motor_input,
    "tipo-train": select_inputs.tipo_train_input,
    "tipo-transmision": select_inputs.tipo_transmision_input,
    "tipo-vehiculo": select_inputs.tipo_vehiculo_input,
  },
};
</script>

<style>
</style>