<template>
  <q-btn
    style=" margin"
    unelevated
    class="raised outline q-mt-xl q-ml-xl"
    color="blue"
    type="submit"
    label="Imprimir"
    @click="SentPrintToChrome()"
  ></q-btn>
</template>

<script>
export default {
  methods: {
    SentPrintToChrome() {
      var toPrint =
        "<LOGO>" +
        "<BIG><BOLD><CENTER> Quick Printer <BR>\n" +
        "<CENTER>San Francisco, USA<BR>\n" +
        "<CENTER>9999-5555-666<BR>\n" +
        "<BOLD>Quantity     Product    Subtotal<BR>\n" +
        "<LEFT>2            producto1         5<BR>\n" +
        "<LEFT>2            producto1         5<BR>\n" +
        "<LEFT>2            producto1         5<BR>\n" +
        "<RIGHT><BOLD>Total $ 15.00<BR>\n" +
        "<BR>\n" +
        "<CUT>\n" +
        "<DRAWER>\n"; // OPEN THE CASH DRAWER
      var textEncoded = encodeURI(toPrint);
      window.location.href =
        "intent://" +
        textEncoded +
        "#Intent;scheme=quickprinter;package=pe.diegoveloper.printerserverapp;end;";
    },
  },
};
</script>

