<template>
  <q-layout view="hHh Lpr lFf" class="bg-grey-3 ">
    <q-header none class="print-hide">
      <q-toolbar class="shadow-2">
        <q-btn
          flat
          dense
          v-if="this.$Auth.isLoggedIn()"
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <!-- <q-avatar class="text-white">
          <img src="../assets/car.png" />
        </q-avatar> -->
        <q-toolbar-title
      
          ><div class="col-5">
            <div class="row ">Dealer Manager</div>
            <div class="row text-caption q-gutter-y-sm">
              Version v{{ $q.version }}
            </div>
          </div>
         
          </q-toolbar-title
        >
    <!--     <q-avatar color="info" v-if="!$q.screen.xs" text-color="white">
          {{ this.firstUserChar }}
        </q-avatar> -->

         <div class="">
            <div class="row text-caption">Tasa del Dolar</div>
            <div class="row text-caption text-weight-bold q-gutter-y-sm">
             $ 55.20
            </div>
          </div>
        <q-btn-dropdown
          flat
          v-if="this.$Auth.isLoggedIn()"
          dense
          icon="more_vert"
          
        >
          <q-list separator>
          <!--  :label="!$q.screen.xs ? userName : ''" <q-item class="bg-blue-grey-8 text-white" v-if="$q.screen.xs">
              <q-item-section avatar>
                <q-avatar color="info" text-color="white">
                  {{ this.firstUserChar }}
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >{{ this.userName }}
                </q-item-label>
              </q-item-section>
            </q-item> -->

            <q-item
              clickable
              v-close-popup
              @click="onItemClick(loginlink.action)"
              v-for="loginlink in filteredLoginMenu"
              :key="loginlink.label"
              v-bind="loginlink"
            >
              <q-item-section avatar>
                <q-avatar
                  :icon="loginlink.icon"
                  :color="loginlink.color"
                  text-color="white"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ loginlink.label }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </q-toolbar>
    </q-header>

    <q-drawer
      class="print-hide"
      v-model="leftDrawerOpen"
    
      
      elevated
      overlay
      content-class="bg-white"
      v-if="this.$Auth.isLoggedIn()"
    >
    <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
      <q-list>
        <q-item-label header class="text-blue-6 text-weight-bold"
          >Menu Principal</q-item-label
        >
        <EssentialLink
          v-for="link in filteredEssentialLinks"
          :key="link.title"
          v-bind="link"
        >
          <template v-slot:separator>
            <q-separator :key="'sep' + link.title" v-if="link.separator" />
          </template>
        </EssentialLink>
      </q-list>
    </q-scroll-area>
             <q-img class="absolute-top" src="https://cdn.quasar.dev/img/material.png" style="height: 150px">
          <div class="absolute-bottom bg-transparent">
            <q-avatar size="56px" class="q-mb-sm">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
            <div class="text-weight-bold">{{!$q.screen.xs ? userName : ''}}</div>
          
          </div>
        </q-img>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

import { Role } from "../constants/role";
const loginMenu = [
  {
    icon: "settings",
    color: "primary",
    label: "Configuraciones",
    action: "settings",
    roles: [Role.Admin, Role.SuperAdmin],
  },
  {
    icon: "fa fa-user-cog",
    color: "primary",
    label: "Cambiar Usuario y Clave",
    action: "profile",
    roles: [Role.Admin, Role.SuperAdmin, Role.User],
  },
  {
    icon: "logout",
    color: "secondary",
    label: "Salir",
    action: "logout",
  },
];
const linksData = [
  {
    title: "Dealers",
    caption: "Manejo de Dealers",
    icon: "emoji_transportation",
    link: "dealers",
    separator: true,
    roles: [Role.Admin, Role.SuperAdmin],
  },
  {
    title: "Inventario",
    caption: "Administrar los vehiculos disponibles",
    icon: "fa fa-car",
    separator: false,
    link: "inventarios",
  },
  {
    title: "Vehiculos",
    caption: "Manejo de las marcas y modelos",
    icon: "fa fa-car-side",
    separator: true,
    link: "vehiculos",
  },
  {
    title: "Ventas",
    caption: "Consulta y manejo de las ventas",
    icon: "request_quote",
    separator: true,
    link: "ventas",
  },
  {
    title: "Reportes",
    caption: "Reportes de los movimientos del inventario",
    icon: "fa fa-file",
    separator: false,
    link: "",
    expandable:true,
    childs:[
      {
        title:"Reporte de Ganacias",
        caption: "Listado de Ganancias de vehiculos",
        link:"reporteganancias",
        icon:"fa fa-chart-line"
      }
    ]
  },

  /*   {
    title: "Redes Sociales",
    caption: "Todas las redes",
    icon: "record_voice_over",
    expandable: true,
    childs: [
      {
        title: "Twitter",
        caption: "@quasarframework",
        icon: "rss_feed",
        link: "",
      },
      {
        title: "Facebook",
        caption: "@QuasarFramework",
        icon: "public",
        link: "",
      },
    ],
  },
  {
    title: "Quasar Awesome",
    caption: "Community Quasar projects",
    icon: "favorite",
    link: "",
  }, */
];

export default {
  name: "MainLayout",
  components: { EssentialLink },
  mounted() {},
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData,
      loginMenu: loginMenu,
    };
  },
  computed: {
    filteredLoginMenu() {
      if (this.user)
        return this.loginMenu.filter((p) =>
          p.roles ? this.checkRole(p.roles) : true
        );

      //return loginMenu
    },
    userName() {
      return this.$Auth.isLoggedIn()
        ? this.$Auth.getUser().nombreusuario
        : "Anonimo";
    },
    firstUserChar() {
      return this.$Auth.isLoggedIn()
        ? this.$Auth.getUser().nombreusuario.charAt(0).toUpperCase()
        : "A";
    },
    filteredEssentialLinks() {
      if (this.user)
        return this.essentialLinks.filter((p) =>
          p.roles ? this.checkRole(p.roles) : true
        );

      //return loginMenu
    },

    user() {
      return this.$Auth.getUser();
    },
  },
  methods: {
    onItemClick(action) {
      if (action == "logout") {
        this.$Auth.logout();
        this.$route.query.returnUrl
          ? delete this.$route.query.returnUrl
          : false;
        this.$router.go("/login");
      }
      this.$router.push({ name: action });
    },
    checkRole(roles) {
      const validroles = roles.some((r) =>
        this.user.roles.some((r2) => r2.descripcion === r)
      );
      return validroles;
    },
  },
};
</script>

<style scoped>
.filter-green {
  margin-left: 0px;
}
</style>
