<template>
  <q-layout view="hHh Lpr lFf" class="bg-grey-3">
    <q-header none>
      <q-toolbar>
        <q-btn
          flat
          dense
          v-if="this.$Auth.isLoggedIn()"
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-avatar class="text-white">
          <img src="../assets/car.png" />
        </q-avatar>
        <q-toolbar-title
          ><div class="col">
            <div class="row text-h6">Dealer Manager</div>
            <div class="row text-caption q-gutter-y-sm">
              Version v{{ $q.version }}
            </div>
          </div></q-toolbar-title
        >
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-0"
      v-if="this.$Auth.isLoggedIn()"
    >
      <q-list>
        <q-item-label header class="text-grey-8">Menu Principal</q-item-label>
        <EssentialLink
          v-for="link in filteredEssentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

import { Role } from "../constants/role";

const linksData = [
  {
    title: "Usuarios",
    caption: "Manejo de Dealers",
    icon: "emoji_transportation",
    link: "dealers",
    roles: [Role.Admin, Role.SuperAdmin],
  },
];

export default {
  name: "MainLayout",
  components: { EssentialLink },
  mounted() {},
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData,
      loginMenu: loginMenu,
    };
  },
  computed: {
    filteredEssentialLinks() {
      if (this.$Auth.User)
        return this.essentialLinks.filter((p) =>
          p.roles ? this.$Auth.checkRole(p.roles) : true
        );

      //return loginMenu
    },
  },
  methods: {
    onItemClick(action) {
      if (action == "logout") {
        this.$Auth.logout();
        this.$router.go("/login");
      }
      if (action === "settings") this.$router.push({ name: "settings" });
    },
  },
};
</script>

<style scoped>
.filter-green {
  margin-left: 0px;
}
</style>
