<template>
  <q-page class="flex row justify-center">
    <ventas-grid
      ref="ventasgrid"
      :data="ventas"
      title="Ventas"
      gridtitle="Consulta y manejo de Ventas"
      :columns="columns"
      float_label="Buscar Ventas"
      route_edit="mantventas"
      :configs="configs"
      :show_child_card="false"
      :showStartDate="true"
      :showEndDate="true"
      :showSearchBtn="true"
      :showloading="loading"
      :search_filter="search_ventas"
      :startDate="startDate"
      :endDate="endDate"
      @startDateChanged="startDate=$event"
      @endDateChanged="endDate=$event"
      @filterchanged="search_ventas = $event"
      @loadData="loadData"
      @insertdata="$MyUtils.redirectTo({ name: 'mantventa' })"
      @searchbtn="loadData()"
      @editdata="$MyUtils.redirectTo({ name: 'mantventa', params: { id: $event }  })"
      @clearsearch="clearData()"
    ></ventas-grid>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab icon="add" direction="up" color="primary">
        <q-fab-action color="blue" class="white" to="/mantventa" icon="add">
          <q-tooltip transition-show="flip-right" transition-hide="flip-left">
            Agregar Nueva Venta
          </q-tooltip>
        </q-fab-action>
        <q-fab-action color="blue" class="white" icon="mail">
          <q-tooltip transition-show="flip-right" transition-hide="flip-left">
            Enviar Correo
          </q-tooltip>
        </q-fab-action>
      </q-fab>
    </q-page-sticky>
    <!--    <q-fab
          color="blue"
          class="q-mt-md q-mr-md q-mb-md fixed-bottom-right"
          icon="people"
          direction="up"
        >
          <q-fab-action color="primary" @click="someMethod" icon="mail"/>

          <q-fab-action color="secondary" @click="someMethod" icon="alarm"/>
    </q-fab>-->
  </q-page>
</template>

<script>
// import tooltipButton from './tooltipButton.vue'
import { isNullOrUndefined } from "util";
import venta_grid from "../../components/gridSearch";
import venta_mixin from "../../mixins/venta/venta";
export default {
  mixins: [venta_mixin],
  components: {
    "ventas-grid": venta_grid,
  },
};
</script>

<style scoped>
.grid-filter {
  max-width: 200px;
}
.grid-search {
  max-width: calc(100% - 400px);
}
.grid-pagination {
  max-width: 200px;
}
.card-size {
  width: 963px;
}
</style>
