<template>
  <q-page class="q-pa-md row flex items-start justify-center">
    <Venta > </Venta>
  </q-page>
</template>

<script>
import Venta from "../../components/venta/ventamant";

export default {
  components: {
    Venta,
  },
};
</script>

<style>
</style>