<template>
  <q-page class="flex row justify-center">
    <inventarios-grid
      ref="inventariosgrid"
      :data="inventarios"
      title="Inventarios"
      gridtitle="Consulta y manejo de Inventarios"
      :columns="columns"
      float_label="Buscar inventario"
      route_edit="mantinventarios"
      :configs="configs"
      :show_child_card="false"
      :showloading="loading"
      :search_filter="search_inventarios"
      @filterchanged="search_inventarios = $event"
      @loadData="loadData"
      @insertdata="$MyUtils.redirectTo({ name: 'mantinventarios' })"
      @editdata="$MyUtils.redirectTo({ name: 'mantinventarios', params: { id: $event } })"
    ></inventarios-grid>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab icon="add" direction="up" color="primary">
        <q-fab-action
          color="blue"
          class="white"
          to="/mantinventarios"
          icon="add"
        >
          <q-tooltip transition-show="flip-right" transition-hide="flip-left">
            Agregar Nuevo Inventario
          </q-tooltip>
        </q-fab-action>
        <q-fab-action color="blue" class="white" icon="mail">
          <q-tooltip transition-show="flip-right" transition-hide="flip-left">
            Enviar Correo
          </q-tooltip>
        </q-fab-action>
      </q-fab>
    </q-page-sticky>
    <!--    <q-fab
          color="blue"
          class="q-mt-md q-mr-md q-mb-md fixed-bottom-right"
          icon="people"
          direction="up"
        >
          <q-fab-action color="primary" @click="someMethod" icon="mail"/>

          <q-fab-action color="secondary" @click="someMethod" icon="alarm"/>
    </q-fab>-->
  </q-page>
</template>

<script>
// import tooltipButton from './tooltipButton.vue'
import { isNullOrUndefined } from "util";
import inventarios_grid from "../../components/gridSearch";
import inventario_mixins from "../../mixins/inventarios/inventariosmixin";
export default {
  mixins: [inventario_mixins],
  components: {
    "inventarios-grid": inventarios_grid,
  },
};
</script>

<style scoped>
.grid-filter {
  max-width: 200px;
}
.grid-search {
  max-width: calc(100% - 400px);
}
.grid-pagination {
  max-width: 200px;
}
.card-size {
  width: 963px;
}
</style>
