<template>
  <div
    class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center"
  >
    <div>
      <div style="font-size: 30vh">401</div>

      <div class="text-h2" style="opacity: 0.4">
        No esta Authorizado para realizar esta operación.
      </div>

      <q-btn
        class="q-mt-xl"
        color="white"
        text-color="blue"
        unelevated
        to="/"
        label="Ir al Inicio"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Error404",
};
</script>
