<template>
  <q-page class="flex flex-center">
    <div class="q-gutter-md">
      <q-avatar size="100px" font-size="52px" color="teal" text-color="white">
        <img alt="Quasar logo" src="~assets/ucetatemontacircle.png" />
      </q-avatar>

      <q-btn
        color="deep-orange"
        class="col-8 text-h5"
        label="Iniciar Sesion"
        v-if="!this.$Auth.isLoggedIn()"
        to="/login"
        icon="login"
        aria-label="Menu"
      >
      </q-btn>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
};
</script>
