<template>
  <q-page class="q-pa-md row flex items-start justify-center">
    <gastos-mant> </gastos-mant>
  </q-page>
</template>
<script>
import gastos_mant from "../../components/gasto/gastosmantcomp";

export default {
  components: {
    "gastos-mant": gastos_mant,
  },
};
</script>
 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 300px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   @media (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>


