<template>
  <q-page class="flex row justify-center">
    <vehiculos-grid
      ref="vehiculosgrid"
      :data="vehiculos"
      title="Vehiculos"
      gridtitle="Consulta y manejo de Vehiculos"
      :columns="columns"
      float_label="Buscar Vehiculo"
      route_edit="mantvehiculos"
      :configs="configs"
      :show_child_card="false"
      :showloading="loading"
      :search_filter="search_vehiculos"
      @filterchanged="search_vehiculos = $event"
      @loadData="loadData"
      @insertdata="$MyUtils.redirectTo({ name: 'mantvehiculos' })"
      @editdata="$MyUtils.redirectTo({ name: 'mantvehiculos', params: { id: $event } })"
    ></vehiculos-grid>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab icon="add" direction="up" color="primary">
        <q-fab-action color="blue" class="white" to="/mantvehiculos" icon="add">
          <q-tooltip transition-show="flip-right" transition-hide="flip-left">
            Agregar Nuevo Vehiculo
          </q-tooltip>
        </q-fab-action>
        <q-fab-action color="blue" class="white" icon="mail">
          <q-tooltip transition-show="flip-right" transition-hide="flip-left">
            Enviar Correo
          </q-tooltip>
        </q-fab-action>
      </q-fab>
    </q-page-sticky>
    <!--    <q-fab
          color="blue"
          class="q-mt-md q-mr-md q-mb-md fixed-bottom-right"
          icon="people"
          direction="up"
        >
          <q-fab-action color="primary" @click="someMethod" icon="mail"/>

          <q-fab-action color="secondary" @click="someMethod" icon="alarm"/>
    </q-fab>-->
  </q-page>
</template>

<script>
// import tooltipButton from './tooltipButton.vue'
import { isNullOrUndefined } from "util";
import vehiculos_grid from "../../components/gridSearch";
import vehiculo_mixins from "../../mixins/vehiculos/vehiculosmixin";
export default {
  mixins: [vehiculo_mixins],
  components: {
    "vehiculos-grid": vehiculos_grid,
  },
};
</script>

<style scoped>
.grid-filter {
  max-width: 200px;
}
.grid-search {
  max-width: calc(100% - 400px);
}
.grid-pagination {
  max-width: 200px;
}
.card-size {
  width: 963px;
}
</style>
