<template>
  <q-page class="q-pa-md row flex items-start justify-center">
    <vehiculo-mant> </vehiculo-mant>
  </q-page>
</template>
<script>
import vehiculo_mant from "../../components/vehiculos/vehiculosmant";

export default {
  components: {
    "vehiculo-mant": vehiculo_mant,
  },
};
</script>
 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 300px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   @media (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>


