<template>
  <q-page class="q-pa-md row flex items-start justify-center">
    <mantuser> </mantuser>
  </q-page>
</template>

<script>
import mantuser from "../../components/configurations/mantuser";
export default {
  components: {
    mantuser
  },
};
</script>

<style>
</style>