<template>
  <q-page class="q-pa-md row flex items-start justify-center">
    <profile> </profile>
  </q-page>
</template>

<script>
import profile from "../../components/configurations/profile";
export default {
  components: {
   profile,
  },
};
</script>

<style>
</style>