<template>
  <q-page class="q-pa-md row flex items-start justify-center">
    <settings> </settings>
  </q-page>
</template>

<script>
import settings from "../../components/configurations/settings";
export default {
  components: {
    settings,
  },
};
</script>

<style>
</style>