<template>
  <form-container
    title="Administracion de Usuarios"
    :saving="saving"
    :withgrid="true"
    @submitform="
      submitForm('usuario', [
        'username',
        'actualpass',
      
      ])
    "
    :showCancel="false"
    acceptIcon="fa fa-save"
    acceptLabel="Aceptar"
  >
    <template v-slot:formcontent>
      <q-card-section class="q-gutter-md">
        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            label="Nombre"
            hint="Digite el nombre"
            v-model="form.nombre"
            ref="name"
          >
            <template v-slot:append>
              <q-icon name="contact_page" />
            </template>
          </q-input>
        </div>

        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            label="E-mail"
            hint="Digite el correo"
            v-model="form.email"
            type="email"
            ref="email"
          >
            <template v-slot:append>
              <q-icon name="email" />
            </template>
          </q-input>
        </div>

        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            label="Usuario"
            hint="Digite su nombre de usuario"
            v-model="form.nombreusuario"
            ref="username"
            :rules="[
              (val) =>
                (val !== null && val !== '') ||
                'El Usuario no puede ir en blanco',
            ]"
          >
            <template v-slot:append>
              <q-icon name="fa fa-user" />
            </template>
          </q-input>
        </div>

        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            v-model="form.clave"
            name="clave"
            label="Contraseña"
            :type="isPwd ? 'password' : 'text'"
            :rules="[
              validatePass()||
                'La clave no puede estar en blanco',
            ]"
            hint="Digite la nueva contraseña"
            ref="actualpass"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
            <template v-slot:after>
              <q-btn
                style="margin-top: 20px"
                unelevated
                class="raised outline"
                color="green"
                type="submit"
                @click="updatePass()"
                label="Cambiar Contraseña"
              ></q-btn>
            </template>
          </q-input>
        </div>

        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-toggle
            size="xl"
            v-model="form.activo"
            label="Activo"
            right-label
          />
        </div>

        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <rol :roles="form.roles"
          :rolesToAdd="form.rolesToAdd"
          :rolesToRemove="form.rolesToRemove"  
          @roleschanged="form.roles = $event"
          @rolAdded="form.rolesToAdd=$event"
          @rolRemoved="form.rolesToRemove=$event"></rol>
        </div>

        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <sucursal
            :sucursales="form.sucursales"
            :sucursalesToAdd="form.sucursalesToAdd"
            :sucursalesToRemove="form.sucursalesToRemove"
            @sucursalAdded="form.sucursalesToAdd=$event"
            @sucursalRemoved="form.sucursalesToRemove=$event"
            @sucursaleschanged="form.sucursales = $event"
          ></sucursal>
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>
    </template>
    <!-- </div> -->
  </form-container>
</template>


<script>
import security from "../../mixins/configurations/profile";
import form_container from "../FormContainer";
import Rol from "../selectinputs/rol.vue";
import Sucursal from "../selectinputs/sucursal.vue";
export default {
  mixins: [security],
  components: {
    "form-container": form_container,
    Rol,
    Sucursal,
  },
  data() {
    return {
      isPwd: true,
    };
  },
};
</script>

 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 100%;
     max-width: 350px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   .marginset {
     margin-top: -10px;
   }

   @media (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>

