<template>
  <form-container
    title="Cambiar Nombre de Usuario y Clave"
    :saving="saving"
    :withgrid="true"
    @submitform="
      submitForm('usuario', [
        'username',
        'actualpass',
        'repeatnewpass',
        'newpass',
      ])
    "
    :showCancel="false"
    acceptIcon="fa fa-save"
    acceptLabel="Aceptar"
  >
  
    <template v-slot:formcontent>
      <q-card-section class="q-gutter-md">
        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            label="Usuario"
            hint="Digite su nombre de usuario"
            v-model="form.nombreusuario"
            ref="username"
            :rules="[
              (val) =>
                (val !== null && val !== '') ||
                'El Usuario no puede ir en blanco',
              isUnique,
            ]"
          >
            <template v-slot:append>
              <q-icon name="fa fa-user" />
            </template>
          </q-input>
        </div>

        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            v-model="form.clave"
            label="Contraseña Actual"
            :type="isPwd ? 'current-password' : 'text'"
            :rules="[
              (val) =>
                (val !== null && val !== '') ||
                'La clave no puede estar en blanco',
              validatePassword,
            ]"
            hint="Digite su clave actual"
            ref="actualpass"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            v-model="newclave"
            label="Nueva Contraseña"
            :type="isPwd ? 'new-password' : 'text'"
            hint="Digite su clave de acceso"
            ref="newpass"
            :error="!compareNewPass"
            :error-message="cp_error_message"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
        <div class="col col-md-3 col-3 col-lg-3 col-xl-3">
          <q-input
            v-model="repeatclave"
            label="Repetir Nueva Contraseña"
            :type="isPwd ? 'new-password' : 'text'"
            hint="Digite su clave de acceso"
            :error="!compareNewPass"
            :error-message="cp_error_message"
            ref="repeatnewpass"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <form-summary />
      </q-card-section>
    </template>
    <!-- </div> -->
  </form-container>
</template>


<script>
import security from "../../mixins/configurations/profile";

import form_container from "../FormContainer";
export default {
  mixins: [security],
  components: {
    "form-container": form_container,
  },
  data() {
    return {
      isPwd: true,
    
    };
  },
 
};
</script>                                                                               

 <style lang="stylus">
 .card-examples {
   .q-card {
     width: 100%;
     max-width: 350px;
   }

   .bigger {
     width: 700px;
     max-width: 90vw;
   }

   .marginset {
     margin-top: -10px;
   }

   @media (max-width: $breakpoint-xs-max) {
     .q-card {
       width: 100%;
     }
   }
 }
</style>

