<template>
  <q-card class="q-ma-sm col-xs-12 col-md-12 col-lg-12">
    <q-tabs
      v-model="tab"
      dense
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      align="justify"
      narrow-indicator
    >
      <q-tab name="users" label="Usuarios" />
      <q-tab name="settings" label="Configuraciones" />
    </q-tabs>

    <q-separator />

    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="users">
        <users-grid
          ref="usersgrid"
          :data="users"
          title="Users"
          :showloading="loading"
          :columns="columns"
          float_label="Busqueda Usuarios"
          route_edit="mantusers"
          :configs="configs"
          :show_child_card="false"
          :show_card_title="false"
          :search_filter="search_users"
          @filterchanged="search_users = $event"
          @loadData="loadData"
          @insertdata="$MyUtils.redirectTo({ name: 'mantuser' })"
          @editdata="$MyUtils.redirectTo({ name: 'mantuser', params: { id: $event } })"
        >
          <template v-slot:body-cell-roles="props">
            <q-td :props="props">
              <div v-for="(rol, index) in props.row.roles" :key="rol.id">
                <b>{{ index + 1 }}</b
                >-
                <q-badge color="blue" :label="rol.descripcion" />
              </div>
            </q-td>
          </template>
        </users-grid>
      </q-tab-panel>

      <q-tab-panel name="settings">
        <div class="text-h4">
          <q-icon
            name="construction"
            class="text-teal"
            style="font-size: 4.4em"
          />Funcionalidad en desarrollo
        </div>
        Esta opcion todavia no se ha programado para su funcionamiento. Esta
        bajo Construcción.
      </q-tab-panel>
    </q-tab-panels>
  </q-card>
</template>

<script>
import grid from "./../gridSearch";
import settings_mixins from "../../mixins/configurations/settingsmixins";
export default {
  mixins: [settings_mixins],
  components: {
    "users-grid": grid,
  },

  data() {
    return {
      tab: "users",
    };
  },
};
</script>

<style>
</style>